{% extends 'projet/layout.html' %}

{% block content %}
 
 <div class="container">
    <div class="row">
        <div class="col">
         <div></div>

          <div class="col">
            <div class="card" style="width: 25rem;" >
              <div class="card-body">
                <h5 class="card-title">Forêts récréatives </h5>
                  <p class="card-text"> Contibution des forêts récréatives...  </p>
                <a href="{% url 'cartoforetrecreative' %}" class="btn btn-success">Nos Forêts récréatives</a>
              </div>
            </div>
         
        </div>
        </div>
      
        <div class="col">
            <div class="card" style="width: 25rem;">
              <div class="card-body">
                <h5 class="card-title">Périmetres de mise en valeurs</h5>
                  <p class="card-text">Dynamique et développement durable ...</p>
                <a href="{% url 'cartoperimetre' %}" class="btn btn-success">Autorisation d'usages</a>
              </div>
            </div>
         
        </div>
    </div>

 </div>

{% endblock %}