    # template_name = 'ObjectifSpecifique_list.html'
    # model = ObjectifSpecifique
    # context_object_name = 'people'


# class ObjectifSpecifiqueCreateView(CreateView):
#     model = ObjectifSpecifique
#     form_class = ObjectifSpecifiqueForm
#     success_url = reverse_lazy('ObjectifSpecifique_changelist')

# class ObjectifSpecifiqueUpdateView(UpdateView):
#     model = ObjectifSpecifique
#     form_class = ObjectifSpecifiqueForm
#     success_url = reverse_lazy('ObjectifSpecifique_changelist')



# def load_objectifspecifiques(request):
#     objectifglobal_id = request.GET.get('objectifglobal')
    
#     objectifspecifiques = ObjectifSpecifique.objects.filter(objectifglobal_id=objectifglobal_id).order_by('name')
#     return render(request, 'projet/objectifspecifique_dropdown_list_options.html', {'objectifspecifiques': objectifspecifiques})

# def load_resultats(request):
#     objectifspecifique_id = request.GET.get('objectifspecifique')
#     resultats = Resultat.objects.filter(objectifspecifique_id=objectifspecifique_id).order_by('name')
#     return render(request, 'projet/resultat_dropdown_list_options.html', {'resultats': resultats})

# class ActionsListView(ListView):
#     model = ActionSig
#     context_object_name = 'action'

# class ActionsCreateView(CreateView):
#     model = ActionSig
#     form_class = ActionForm
#     success_url = reverse_lazy('action_changelist')

# # class ActionsUpdateView(UpdateView):
# #     model = ActionSig
# #     form_class = ActionForm
# #     success_url = reverse_lazy('action_changelist')


 function filterCanton(json){
           var att = json.properties.name;
           var optFilter = $("input[name=fltCanton]:checked").val();
               if(optFilter == 'ALL'){
                return true;
               } else{
                return (att == optFilter)
               }
           
         }

function StyleCanton(feature){
    switch(feature.properties.nature_jur){
        case 'fd':
            return{
                fillColor:'green',
                weight: 2,
                opacity:1,
                color:'white',
                dashArray:3,
                fillOpacity:0.7
            }
            break
            case 'f' : 
                return{
                fillColor: "red",
                weight: 2,
                opacity:1,
                color:'white',
                dashArray:3,
                fillOpacity:0.7

                }
    }
    

   }

   function StyleCantonCommune(feature){
     (feature.properties.name) 
         
            return{
                fillColor:'blue',
                weight: 2,
                opacity:1,
                color:'white',
                dashArray:3,
                fillOpacity:0.7
            }
             
    }

class ProjetForm(forms.ModelForm):
    class Meta:
        model = Projets
        fields = ('titre','objectifglobal','justification','commune','lieu_dit','superficie_zone','menage','population','duree','duree','annee')
    # def __init__(self, *args, **kwargs):
    #     super().__init__(*args, **kwargs)
    #     self.fields['objectifspecifique'].queryset = ObjectifSpecifique.objects.none()
    #     self.fields['resultat'].queryset = Resultat.objects.none()
    #     if 'objectifglobal' in self.data:
    #         try:
    #             objectifglobal_id = int(self.data.get('objectifglobal'))
    #             self.fields['objectifspecifique'].queryset = ObjectifSpecifique.objects.filter(objectifglobal_id=objectifglobal_id).order_by('name')
 
    #         except (ValueError, TypeError):
    #             pass  # invalid input from the client; ignore and fallback to empty City queryset
    #     elif self.instance.pk:
    #         self.fields['objectifspecifique'].queryset = self.instance.objectifglobal.objectifspecifique_set.order_by('name')
        

    #     if 'objectifspecifique' in self.data:
    #         try:
    #             objectifspecifique_id = int(self.data.get('objectifspecifique'))
    #             self.fields['resultat'].queryset = Resultat.objects.filter(objectifspecifique_id=objectifspecifique_id).order_by('name')
    #         except (ValueError, TypeError):
    #             pass  # invalid input from the client; ignore and fallback to empty City queryset
    #     elif self.instance.pk:
    #         self.fields['resultat'].queryset = self.instance.objectifspecifique.resultat_set.order_by('name')

    ///////////////////////////////////////////////////////////////////////////

     <script>
    $("#id_objectifglobal").change(function () {
      var url = $("#projetForm").attr("data-cities-url");  // get the url of the `load_cities` view
      var objectifglobalId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'objectifglobal': objectifglobalId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_objectifspecifique").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });

    $("#id_objectifspecifique").change(function () {
      var url = $("#projetForm").attr("data-resultats-url");  // get the url of the `load_cities` view
      var objectifspecifiqueId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'objectifspecifique': objectifspecifiqueId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_resultat").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });








 fc1Layer =   L.geoJSON(data ) ;
    //        dd =   L.geoJSON(c);
    //        map.fitBounds(fc1Layer.getBounds()) ;
        
    //    f1 = data.features
    // f2 = c.features 

    // var conflict;
    // var dada =[];

    // for (var i = 0; i < dd.length; i++) {
    //        var parcel1 = dd[i];

          

    //            var parcel2 = fc1Layer ;

    //            console.log("Processing",i );
    //                 conflict = turf.intersect(parcel1, parcel2);
    //                if (conflict != null) {
    //                 alert('resultat...!');
    //                dada.push(conflict) ;
    //     dada= L.geoJSON(conflict , {style:{color:'red',dashArray:'5.5',fillOpacity:0}});
    //                }
    //        }
     
    //   var intersectiontest = turf.featureCollection(dada) ;
    //   resultat_clip = L.geoJSON(intersectiontest).addTo(map)













//ejemplo intersección entre una misma red|
//fc2Layer.addTo(map);
//showIntersects(fc2, fc2);

//ejemplo intersección entre dos redes diferentes


                  // console.log(data);
                  //  console.log(c);

                  // showIntersects(data, c) ;

                  // var arreglo= [];

                  // /*fc1 y fc2 son features collections*/
                  // function showIntersects(c,data){
                  //     c.features.forEach(function(features1){
                  //          data.features.forEach(function(features2){
                  //             var intersection = turf.intersect(features1, features2) ;
                  //             if(intersection!=undefined){
                  //               return    interLayer=L.geoJson(intersection).addTo(map);
                                   
                  //             }
                  //             else{ console.log('no intersection');}
                  //         });
                  //     });
                  // }





// for(var i=0; i<arreglo.length;i++){
//     console.log("intersecto 1: "+arreglo[i]+"<br />");
// }


 




    
  </script>


  <div class="container">

      <div class="container-fluid">
      <div class="row">
        <div class="col-sm-14 main">
          <h2 class="page-header" style="text-align: center">Fiche de l'IOV du projet en cours  </h2>

       
  Projet  de : <font size="3" color="red"></font> - Code du projet :<font size="4" color="red"></font>

          
          <div class="form">
        <form method="post" action="" class="form-horizontal formContact" role="form">
          <div class="form-group">
            <label for="inputNom" class="col-sm-3 control-label">Code Indicateur de base:</label>
            <div class="col-sm-1">
              <input type="text" class="form-control" id="codeindicateur" name="codeindicateur" value="" placeholder="Action">
            </div>
          </div>
          <div class="form-group">
            <label for="inputNom" class="col-sm-3 control-label"> Indicateur de base:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="indicateur" name="indicateur" value="" placeholder="Indicateur de base">
            </div>
          </div>


          <div class="form-group">
            <label for="inputPrenom" class="col-sm-3 control-label">Indicateur specifique  :</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="indicateurs_specifique" name="indicateurs_specifique" value="" placeholder="Indicateur spécifique pour ce projet">
            </div>
          </div>
          <div class="form-group">
            <label for="inputMail" class="col-sm-3 control-label">Unite :</label>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="Unite" name="Unite" value="" placeholder="Unite">
            </div>
          </div>
          <div class="form-group">
            <label for="inputSujet" class="col-sm-3 control-label">Base 2010 2014 :</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="Base_2010_2014" name="Base_2010_2014" value="" placeholder="Indicateur de base 2010 2014">
            </div>
          </div>
          <div class="form-group">
            <label for="inputSujet" class="col-sm-3 control-label">Valeurs Cumulatives :</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="ValeursCumulatives" name="ValeursCumulatives" value="" placeholder="Valeurs Cumulatives">
            </div>
          </div>

            <div class="form-group">

            <label for="inputSujet" class="col-sm-3 control-label">Frequence :</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="paiement" name="paiement" value="" placeholder="Frequence">
            </div>
          </div>
            <div class="form-group">
            <label for="inputSujet" class="col-sm-3 control-label">Données Méthodologie :</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="paiement" name="paiement" value="" placeholder="Méthodologie de collecte de données">
            </div>
          </div>
            <div class="form-group">
            <label for="inputSujet" class="col-sm-3 control-label">Responsabilité Collecte Données :</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="paiement" name="paiement" value="" placeholder="Qui Collecte les données ?">
            </div>
          </div>
            <div class="form-group">
            <label for="inputSujet" class="col-sm-3 control-label">Description :</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="paiement" name="paiement" value="" placeholder="Description">
            </div>
          </div>
          
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" name="Modifier" class="btn btn-default">Envoyer</button>
            </div>
          </div>

        </form>

      </div>
      
      <div class="clearfix"></div>
          
        </div>
      </div>
    </div>

    </div>

     //////////////////////////tpf////////////////////
//             $.ajax({
//                 url : "{% url  'filterTpf'  %}",
//                 type : "POST",
//                 data : {
//              gid : communeSelected,
             
//                 csrfmiddlewaretoken: '{{ csrf_token }}'

//                },
//                  success: function(data){


//   var table_tpf = '<tbody>';

// for (var i = data.length - 1; i >= 0; i--) {
//       geo1 = data[i];
       
//      ree   = L.geoJSON(geo1).addTo(map);

//   ree.bindPopup(geo1[1]);
//     // console.log(ree);
//  table_tpf+= '<tr>';
//         table_tpf+= '<td>' + geo1[1] + '</td>';
//                 table_tpf+= '<td>' + geo1[3] + '</td>';

//         table_tpf+= '</tr>';

//   }

//     table_tpf+='</tbody>';
//     document.getElementById('table_tpf').innerHTML = table_tpf;

//            },
//                 error : function(xhr,errmsg,err) {
//                             alert(xhr.status + ": " + xhr.responseText);
//                         }
//             })

            /////////////////fin tpf/////////////////////////
                   // tpf =   L.geoJSON.ajax("{% url 'tpf' %}",
       //  {onEachFeature: bindtpf });











       <form method="POST" id ="peri">
            {% csrf_token %}
           <select id="dropdownPerimetre">

           <option value="ALL">Sélectionnez un périmètre</option>
                      {% for perimetre in perimetres %}
                              <option   value="{{ perimetre.id }}">{{ perimetre.nom }}</option>
                      {% endfor %}
                              </select>
             
          <input type="button" value="Recherche" id="selection-button-perimetre"  ></input>
           </form>
           <hr>
  
           <form method="POST" id ="parcel">
            {% csrf_token %}
           <select id="dropdownParcellePerimetre">

           <option value="ALL">Sélectionnez un bénéficiares</option>
                      {% for beneficiare in beneficiares %}
                              <option   value="{{ beneficiare.id }}">{{ beneficiare.name }}</option>
                      {% endfor %}
                              </select>
             
          <input type="button" value="Recherche" id="selection-button-parcelle-perimetre"  ></input>
           </form>
           <hr>
          <form method="POST" id ="foret-recrea">
            {% csrf_token %}
                 <select id="dropdownForetRecreative">

           <option value="ALL">Sélectionnez une Forêt récreative</option>
                      {% for foret_recreative in foret_recreatives %}
                              <option   value="{{ foret_recreative.id }}">{{ foret_recreative.name }}</option>
                      {% endfor %}
                              </select>
             
          <input type="button" value="Recherche" id="selection-button-foret-recreative"  ></input>
          </form>
           </form>