{% extends 'projet/layout.html' %}

 
  
{% block content %}
{% load static %}
{% load leaflet_tags %}

    {% leaflet_js plugins="leaflet-sidebar" %}
{% leaflet_css plugins="leaflet-sidebar" %}
    <title>Our home</title>
 
    <style type="text/css">

        #map {
            width:  1200px;
            height: 550px;
            }
    </style>

<script type="text/javascript" src="{% static 'projet/js/leaflet.ajax.min.js' %}"></script>
 

    
     <div id="sidebar" class="leaflet-sidebar collapsed">
  <!-- Nav tabs -->
  <div class="leaflet-sidebar-tabs">
    <ul role="tablist">
      <li><a href="#home" role="tab"><i class="fa fa-bars"></i></a></li>
      <li class="disabled"><a href="#profile" id="toggledraw" role="tab"><i class="fa fa-pen"></i></a></li>
    </ul>
  </div>

  <!-- Tab panes -->
  <div class="leaflet-sidebar-content">
    <div class="leaflet-sidebar-pane" id="home">
      <h1 class="leaflet-sidebar-header">
        Layers
        <span class="leaflet-sidebar-close"><i class="fa fa-caret-right"></i></span>
      </h1>
      <span id="layercontrol"></span>
      <div id="latlng"></div>

    </div>

    <div class="leaflet-sidebar-pane" id="profile">
      <h1 class="leaflet-sidebar-header">Profile<span class="leaflet-sidebar-close"><i class="fa fa-caret-right"></i></span></h1>
    </div>
  </div>
</div>

<div id="map"></div>

     <script type="text/javascript">
 
  


     function our_layers(map,options){
        var datasets = new L.GeoJSON.AJAX("{% url 'county' %}",{
        onEachFeature: function(feature,layer){
            layer.bindPopup(feature.properties.name.toString())

        }
         }).addTo(map);
         
      }
 
              
 
 
    </script>
     {% leaflet_map "map" callback="our_layers" %}
     <script>
         var sidebar = L.control.sidebar('sidebar', {
    position: 'left'
}).addTo(map);
     </script>   
 

map.addControl(sidebar);
sidebar.show();
{% endblock %}