{% extends 'projet/layout.html' %}

{% block odd15 %}
 
<div class="container-fluid">
  <div class="row">
  {% for indicateur in  indicateurs.code   %}   
    <div class="col-12">
      <div class="card"    >
        <div class="card-body">
          <h5 class="card-title" style="height: 2rem;">Code Indicateur: {{ indicateur.code}}</h5>
          <p class="card-text" style="height: 2rem;">Description Indicateur: {{indicateur.description}}</p>
        {% for realease in  indicateur.series %}
          <div class="shadow-sm p-3 mb-5 bg-white" >

          <a href="{% url  'sous_indicateur_detail'  realease.code  %}" >
          <p class="card-text" style="color:green" >
           <!-- code serie:{{ realease.code}}- --> 
            Sous indicateur (code serie): {{ realease.description}}</p> 
          </a>
          </div>
        {% endfor  %}
        <a href="{% url  'odd15'    %}" class="btn btn-success">retour</a> 

        </div>
      </div>         
    </div>
  {% endfor  %}  
  </div>
</div>
{% endblock %}