<!DOCTYPE html>
{% load static %}

<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
<!-- bloc a ajouter -->
     <link rel="stylesheet" href="{% static 'projet/css/leaflet-sidebar.min.css' %}">
    <script src="{% static 'projet/js/leaflet-sidebar.min.js' %}"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<script src="https://unpkg.com/esri-leaflet@2.3.0/dist/esri-leaflet.js"
    integrity="sha512-1tScwpjXwwnm6tTva0l0/ZgM3rYNbdyMj5q6RSQMbNX6EUMhYDE3pMRGZaT41zHEvLoWEK7qFEJmZDOoDMU7/Q=="
    crossorigin=""></script>
<!-- fin de bloc a ajouter -->

    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_f32a58d9024f40b3894a43e4259d99af {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>
<!-- bloc a ajouter -->

    <div id="sidebar" class="sidebar collapsed">

        <!-- Nav tabs -->
        <div class="sidebar-tabs">
            <ul role="tablist">
                <li><a href="#home" role="tab"><i class="fa fa-bars"></i></a></li>
                <li><a href="#profile" role="tab"><i class="fa fa-user"></i></a></li>
                <li class="disabled"><a href="#messages" role="tab"><i class="fa fa-envelope"></i></a></li>
                <li><a href="{% url 'index' %}" role="tab"  ><i class="fa fa-github"></i></a></li>
            </ul>

            <ul role="tablist">
                <li><a href="#settings" role="tab"><i class="fa fa-gear"></i></a></li>
            </ul>
        </div>

        <!-- Tab panes -->
        <div class="sidebar-content">
            <div class="sidebar-pane" id="home">
                

                <h1 class="sidebar-header">
                    Formulaire de recherche
                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1>

   
            </div>

            <div class="sidebar-pane" id="profile">
                <h1 class="sidebar-header">Profile<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
                
            </div>

            <div class="sidebar-pane" id="messages">
                <h1 class="sidebar-header">Messages<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
            </div>

            <div class="sidebar-pane" id="settings">
                <h1 class="sidebar-header">Settings<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
            </div>
 
  
              </div><!-- fin de la  side bar-->
     </div>



        <div class="sidebar-map"  id="map_f32a58d9024f40b3894a43e4259d99af"  ></div>
        <!-- fin bloc a ajouter changer la class folium-map a sidebar-map laisse id -->
 </body>
       
</body>
<script>    
    
            var map_f32a58d9024f40b3894a43e4259d99af = L.map(
                "map_f32a58d9024f40b3894a43e4259d99af",
                {
                    center: [36.69789, 5.90438],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );
// bloc a ajouter 
            var esri =  L.esri.basemapLayer('Imagery');
              esri =   L.layerGroup([esri]);

        var openstreetmap = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
    // fin de bloc a ajouter
            var tile_layer_03738ba0329d41a887aeab56b7f80b86 = L.tileLayer(
                "https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}",
                {"attribution": "Tiles \u0026copy; Esri \u0026mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
 
            var tile_layer_a118bdb3a8814818a9604d405be600e3 = L.tileLayer(
                "https://earthengine.googleapis.com/map/ada2e3727843149668e1977ce013295e/{z}/{x}/{y}?token=372350aac0af0739cc542e85807c12f0",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f32a58d9024f40b3894a43e4259d99af);
        
    
            var tile_layer_42c2a0e5146b48ea93200e13900eb7d4 = L.tileLayer(
                "https://earthengine.googleapis.com/map/ae514cbff8b3dc2803761c1b76f45a2b/{z}/{x}/{y}?token=3bce008f5345ab4a7607a495beddae0d",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f32a58d9024f40b3894a43e4259d99af);
        
    
            var tile_layer_e7d408b36680430c952a0b320033fd16 = L.tileLayer(
                "https://earthengine.googleapis.com/map/2b8e56c0fd2807d2e043844bce6bc385/{z}/{x}/{y}?token=c0e341ad76e09d793747db22d5c53b3e",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f32a58d9024f40b3894a43e4259d99af);
        
    
            var tile_layer_3c40f373f6ce42088411fece56fcf28d = L.tileLayer(
                "https://earthengine.googleapis.com/map/513e54630ed5221fbab60a7445ec6828/{z}/{x}/{y}?token=ce8afe2bcf1973bbe4bf1382acdaed62",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f32a58d9024f40b3894a43e4259d99af);
        
    
            var tile_layer_1abb00d3d78644ef88cfcd63c6ce2422 = L.tileLayer(
                "https://earthengine.googleapis.com/map/27790781de8b9ccf10ba3e7fc2319308/{z}/{x}/{y}?token=a7f8593ac85ef29acd94201a9cd529fc",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f32a58d9024f40b3894a43e4259d99af);
        
    
            var tile_layer_eea06c9170e64773aed8f226a5284af4 = L.tileLayer(
                "https://earthengine.googleapis.com/map/1046eb16c4a1319386571ad0d9a26a66/{z}/{x}/{y}?token=5221c89e4058fa2c529abd52798e2cbe",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f32a58d9024f40b3894a43e4259d99af);
        
    
            var tile_layer_972f748846844f7cb82ec665516cff17 = L.tileLayer(
                "https://earthengine.googleapis.com/map/20ce5930de6b2e15ea93de7859e6a829/{z}/{x}/{y}?token=82a27d7ddfe92d2973c9ea2d25aeeee8",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f32a58d9024f40b3894a43e4259d99af);
        
    
            var tile_layer_26d59c6d8d3f43139eab983d9789d990 = L.tileLayer(
                "https://earthengine.googleapis.com/map/16c51e417e005a1f0349841587b6c620/{z}/{x}/{y}?token=af5759d087bc5d73febc78256f6ca52c",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f32a58d9024f40b3894a43e4259d99af);
        
    
            var tile_layer_a2d86b68b01d4e8fad925bb3b58e28a9 = L.tileLayer(
                "https://earthengine.googleapis.com/map/740fcc1a16f10a0c9b56d1f0a2d767e3/{z}/{x}/{y}?token=31146fc6662436184144f59fa3a038bf",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f32a58d9024f40b3894a43e4259d99af);
        
    
            var tile_layer_0876fc3c8a7448ce8d57a6c114d4be1a = L.tileLayer(
                "https://earthengine.googleapis.com/map/d0ee8a7faa542954dcc78bb5e0351343/{z}/{x}/{y}?token=a7b447d51bd7dab256513b62943f31c1",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f32a58d9024f40b3894a43e4259d99af);
        
    
            var tile_layer_56bb253c24634578a6eb7eadbcc2e0ad = L.tileLayer(
                "https://earthengine.googleapis.com/map/8f400853edb86d37301e1bd768d88cf1/{z}/{x}/{y}?token=986d19fbe7148965abd17b888bd85f17",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f32a58d9024f40b3894a43e4259d99af);
        
    
            var tile_layer_8b0f218377e240d9935cc3abe771d16e = L.tileLayer(
                "https://earthengine.googleapis.com/map/6577bdf34b9b944d23bde91e105fec14/{z}/{x}/{y}?token=918329eba4af41de6f33c84956158900",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f32a58d9024f40b3894a43e4259d99af);
        
    
            var tile_layer_713bcea6df2742e49198cd3e7a2c26de = L.tileLayer(
                "https://earthengine.googleapis.com/map/5ea1a23cdb78079a111b9a8bbddcd309/{z}/{x}/{y}?token=fd74bd224d5c124da1ab654cc54b76b0",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f32a58d9024f40b3894a43e4259d99af);
        
    
            var tile_layer_9c8307bef6024e598c1c97373c635bc5 = L.tileLayer(
                "https://earthengine.googleapis.com/map/66ec7e984f9f9881570a3fdba5eaadb1/{z}/{x}/{y}?token=62a9fc4f4c9a93fd397c06f9dcff60b3",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f32a58d9024f40b3894a43e4259d99af);
        
    
            var tile_layer_34ccc8198061496097a3a6d79315190e = L.tileLayer(
                "https://earthengine.googleapis.com/map/1c81f1a04fd3d3c4a1ea2473c77c0768/{z}/{x}/{y}?token=2a30912e6d426a2d630b03a212ef6913",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f32a58d9024f40b3894a43e4259d99af);
        
    
            var tile_layer_7d1181e5b7b2433ba97301b052e14a9c = L.tileLayer(
                "https://earthengine.googleapis.com/map/6651ff3562a29937021709aff1eaf388/{z}/{x}/{y}?token=f1272e8f82bdc8ca9ae5c00372078ea5",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f32a58d9024f40b3894a43e4259d99af);
        
    
            var tile_layer_b603510a83294af7a21f863820cc2f3f = L.tileLayer(
                "https://earthengine.googleapis.com/map/10d4a0ada1c2e51a8f512ef6a349cb82/{z}/{x}/{y}?token=02b7032d331c659759fa406ff39246ff",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f32a58d9024f40b3894a43e4259d99af);
        
    
            var layer_control_feb74aab3f044bea8fc2415be15f8d26 = {
                // bloc a ajouter
                base_layers : {
                   
                    "open street map" : openstreetmap,
                    "imagery" : esri,
                    // fin de bloc a ajouter
                },
                overlays :  {
                    "for\u00eat 2000" : tile_layer_a118bdb3a8814818a9604d405be600e3,
                    "for\u00eat 2017" : tile_layer_42c2a0e5146b48ea93200e13900eb7d4,
                    "Pertes 2000-2017" : tile_layer_e7d408b36680430c952a0b320033fd16,
                    "Pertes 2011" : tile_layer_3c40f373f6ce42088411fece56fcf28d,
                    "Pertes 2012" : tile_layer_1abb00d3d78644ef88cfcd63c6ce2422,
                    "Pertes 2013" : tile_layer_eea06c9170e64773aed8f226a5284af4,
                    "Pertes 2014" : tile_layer_972f748846844f7cb82ec665516cff17,
                    "Pertes 2015" : tile_layer_26d59c6d8d3f43139eab983d9789d990,
                    "Pertes 2016" : tile_layer_a2d86b68b01d4e8fad925bb3b58e28a9,
                    "Pertes 2017" : tile_layer_0876fc3c8a7448ce8d57a6c114d4be1a,
                    "Occurrence" : tile_layer_56bb253c24634578a6eb7eadbcc2e0ad,
                    "NDVI jijel 2019" : tile_layer_8b0f218377e240d9935cc3abe771d16e,
                    "NDVI jijel 2017" : tile_layer_713bcea6df2742e49198cd3e7a2c26de,
                    "NDVI jijel 2016" : tile_layer_9c8307bef6024e598c1c97373c635bc5,
                    "NDWI masked 2019" : tile_layer_34ccc8198061496097a3a6d79315190e,
                    "NDWI masked 2018" : tile_layer_7d1181e5b7b2433ba97301b052e14a9c,
                    "NDWI masked 2017" : tile_layer_b603510a83294af7a21f863820cc2f3f,
                },
            };
            L.control.layers(
                layer_control_feb74aab3f044bea8fc2415be15f8d26.base_layers,
                layer_control_feb74aab3f044bea8fc2415be15f8d26.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_f32a58d9024f40b3894a43e4259d99af);
            // bloc a ajouter
            var sidebar = L.control.sidebar('sidebar').addTo(map_f32a58d9024f40b3894a43e4259d99af);

         // fin de bloc a ajouter
</script>