{% extends 'incendies/layout.html' %}

{% block content %}
 
<div class="container">
  <div class="row">
      
  
    <div class="row">
        <div class="col">
         <div></div>

            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Gestion des projets</h5>
                  <p class="card-text">Des projets répondant à un cadre logique ... </p>
                <a href="{% url  'projet_changelist' %}" class="btn btn-success">Nos Projets</a>
              </div>
            </div>
         
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Stratégie forestière 2035 </h5>
                  <p class="card-text">Enjeux et Objectifs du secteur des forêts... </p>
                <a href="{% url  'sf2035' %}" class="btn btn-success">Stratégie forestière 2035</a>
              </div>
            </div>
         
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Développement durable</h5>
                  <p class="card-text">Rôle des forêts dans les objectifs de développement durable ...</p>
                <a href="{% url  'odd15' %}" class="btn btn-success">ODD 15</a>
              </div>
            </div>
         
        </div>
    </div>
    <hr>
<div class="row">
        <div class="col">
         <div></div>

            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Description du territoire</h5>
                  <p class="card-text">Analyse des potentialités de la wilaya ... </p>
                <a href="{% url 'carto' %}" class="btn btn-success">Fiche commune </a>
              </div>
            </div>
         
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">PNR </h5>
                  <p class="card-text"> Gestion des reboisements et plantations...</p>
                <a href="{% url 'reboisement_changelist' %}" class="btn btn-success">PNR</a>
              </div>
            </div>
         
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Autorisation d'usages</h5>
                  <p class="card-text">Dynamique e développement durable ...</p>
                <a href="{% url  'autorisation_usage' %}" class="btn btn-success">Autorisation d'usages</a>
              </div>
            </div>
         
        </div>
    </div>
    <div class="row">
        <div class="col">
         <div></div>

            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Incendies des forets</h5>
                  <p class="card-text">Analyse de Feux de forêts ... </p>
                <a href="{% url 'about_incendies' %}" class="btn btn-success">Voir</a>
                   </a>
              </div>
            </div>
         
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">PNR </h5>
                  <p class="card-text"> Gestion des reboisements et plantations...</p>
                <a href="{% url 'reboisement_changelist' %}" class="btn btn-success">PNR</a>
              </div>
            </div>
         
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Autorisation d'usages</h5>
                  <p class="card-text">Dynamique e développement durable ...</p>
                <a href="{% url  'autorisation_usage' %}" class="btn btn-success">Autorisation d'usages</a>
              </div>
            </div>
         
        </div>
    </div>

 </div>

{% endblock %}