<!DOCTYPE html>
<html>
{% load static %}
 
<head>
    <title>Map</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.7.2/leaflet.ie.css" /><![endif]-->

 <link rel="stylesheet" href="{% static 'projet/css/leaflet-sidebar.min.css' %}">
<link rel="stylesheet" href="{% static 'projet/css/leaflet.extra-markers.min.css'%}">
<link rel="stylesheet" href="{% static 'projet/css/leaflet-search.min.css'%}">


    <style>
        body {
            padding: 0;
            margin: 0;
        }
        html, body, #map {
            height: 100%;
            font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
        }
        .lorem {
            font-style: italic;
            color: #AAA;
        }
    </style>
<script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    <script type="text/javascript" src="{% static 'projet/js/Bing.js' %}"></script>
    <script src="{% static 'projet/js/leaflet-sidebar.min.js' %}"></script>
    <script src="{% static 'projet/js/leaflet.extra-markers.min.js' %}"></script>
    <script src="{% static 'projet/js/leaflet-search.src.js' %}"></script>
 <script type="text/javascript" src="{% static 'projet/js/leaflet.ajax.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'projet/js/jquery.js' %}"></script>



</head>
<body>
    <div id="sidebar" class="sidebar collapsed">
        <!-- Nav tabs -->
        <div class="sidebar-tabs">
            <ul role="tablist">
                <li><a href="#home" role="tab"><i class="fa fa-bars"></i></a></li>
                <li><a href="#profile" role="tab"><i class="fa fa-user"></i></a></li>
                <li class="disabled"><a href="#messages" role="tab"><i class="fa fa-envelope"></i></a></li>
                <li><a href="{% url 'index' %}" role="tab"  ><i class="fa fa-github"></i></a></li>
            </ul>

            <ul role="tablist">
                <li><a href="#settings" role="tab"><i class="fa fa-gear"></i></a></li>
            </ul>
        </div>

        <!-- Tab panes -->
        <div class="sidebar-content">
            <div class="sidebar-pane" id="home">
                

                <h1 class="sidebar-header">
                    Formulaire de recherche
                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1>

                 

                 <div id="divCantonFilter" class ="col-xs-12">
                    <div class="col-xs-4">
                        <input type="radio" name="fltCanton" value ="ALL" checked >All

                    </div>
                    <div class="col-xs-4">
                        <input type="radio" name="fltCanton" value ="fd"   >FD  

                    </div>
                    <div class="col-xs-4">
                        <input type="radio" name="fltCanton" value ="f"  >FS

                    </div>

                 </div>

   
            </div>

            <div class="sidebar-pane" id="profile">
                <h1 class="sidebar-header">Profile<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
            </div>

            <div class="sidebar-pane" id="messages">
                <h1 class="sidebar-header">Messages<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
            </div>

            <div class="sidebar-pane" id="settings">
                <h1 class="sidebar-header">Settings<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
            </div>
              <div class="dropdownCantons">
                 <label for="">Cantons</label>
                    <select name="cantons" id="cantons">
                    <option value="">---------</option>

            {% for canton in cantons %}
                    <option value="">{{ canton.name }}</option>
            {% endfor %}
                    </select>
             </div>
            <hr>
 
                     <select id="dropdownCommunes">

 <option value="ALL">---------</option>
            {% for commune in communes %}
                    <option   value="{{ commune.gid }}">{{ commune.name }}</option>
            {% endfor %}
                    </select>
                     
             </div>
     </div>

    <div id="map" class="sidebar-map"></div>

     

    
    <script>
    $(document).ready(function(){

         var map = L.map('map');
        map.setView([36.69789, 5.90438], 10);
        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        attribution: 'Map data &copy; OpenStreetMap contributors'
        }).addTo(map);
        ///////
          
         ///////

          var sidebar = L.control.sidebar('sidebar').addTo(map);
      
        limite_communes =   L.geoJSON.ajax("{% url 'limite_commune_requete commune.gid ' %}" ,
        {onEachFeature: bindLimite_commune ,  style:StyleLimite_commune}).addTo(map);
 
      
      
         // construction du geojson cantons et filtrage
        cantons =   L.geoJSON.ajax("{% url 'county' %}",
        {onEachFeature: bind,filter: filterCanton, style:StyleCanton});



        pistes =   L.geoJSON.ajax("{% url 'piste' %}",
        {onEachFeature: bindpiste,style:StylePiste});

        point_eau =  new L.geoJSON.ajax("{% url 'point_eau' %}",{
        pointToLayer: function(feature, latlng) {
            return L.marker(latlng, {
              icon: redMarker
    })
  }
         ,onEachFeature:bindpointEau                   });

        tpf =   L.geoJSON.ajax("{% url 'tpf' %}",
        {onEachFeature: bindtpf });

        maisons_forestieres =   L.geoJSON.ajax("{% url 'maisons_forestieres' %}",
        {onEachFeature: bindMaisons_forestieres });

        brigade =   L.geoJSON.ajax("{% url 'brigade' %}",
        {onEachFeature: bindBrigade });

        

        localites =   L.geoJSON.ajax("{% url 'localites' %}",
        {onEachFeature: bindLocalites  });
 
function bind (feature,layer){
layer.bindPopup('<p><strong> <font size="2" color="blue">'+feature.properties.name.toString()+'<p>'+ 
'<p><strong> <font size="2" color="blue"> Forêt Domaniale:  </strong>'+feature.properties.layer.toString()+'<p>')

          
         }
function bindpiste (feature,layer){
 layer.bindPopup("<p><strong><font size='2' color='blue'>Tenant :"+feature.properties.about.toString()+"</strong><p>"+ 
'<p><strong> <font size="2" color="blue"> Aboutissement:  </strong>'+feature.properties.about.toString()+'<p>')


        }  
function bindpointEau (feature,layer){
        layer.bindPopup(feature.properties.name.toString())
        } 
function bindtpf (feature,layer){
        layer.bindPopup(feature.properties.name.toString())
        }   
function bindMaisons_forestieres (feature,layer){
  layer.bindPopup("<p><strong><font size='2' color='blue'>Maison forestière :"+feature.properties.name.toString())+"</strong><p>" 
         }   
function bindBrigade (feature,layer){
  layer.bindPopup("<p><strong><font size='2' color='blue'>Brigade forestière :"+feature.properties.name.toString())+"</strong><p>"  
         }
function bindLimite_commune (feature,layer){
        layer.bindPopup(feature.properties.name.toString())
        }
function bindLocalites (feature,layer){
        layer.bindPopup(feature.properties.name.toString())
        } 

    var can =   L.layerGroup([cantons ]);
    var piste =   L.layerGroup([pistes ]);
    var point_eau =   L.layerGroup([point_eau ]);
    var tpf =   L.layerGroup([tpf ]);
    var maisons_forestieres =   L.layerGroup([maisons_forestieres ]);
    var brigade = L.layerGroup([brigade ]);
    var limite_communes = L.layerGroup([limite_communes ]);
    var localites = L.layerGroup([localites ]);

var searchLayer = L.layerGroup().addTo(map);
//... adding data in searchLayer ...
map.addControl( new L.Control.Search({layer: can}) );
//searchLayer is a L.LayerGroup contains searched markers
var searchLayer1 = L.layerGroup().addTo(map);
 
//... adding data in searchLayer ...
map.addControl( new L.Control.Search({layer: limite_communes}) );
//searchLayer is a L.LayerGroup contains searched markers
 

 
 
        
        var overlayMaps2 = {
     "Couches de données":    limite_communes    
        }; 
        var overlayMaps3 = {
    "Piste festière ": piste,
     "Point d'eau": point_eau,
     "Tranchée par feu": tpf,
     "maisons forestieres": maisons_forestieres,
     "Brigades forestères": brigade,
     "Cantons":  can,
     "Localités" : localites,

        };
L.control.layers( overlayMaps2, overlayMaps3).addTo(map);
//////////////////////////////////
 


 
   /// fin de document ready functions      
    });
 
  // function filterCommune(json){
  //    var att = json.properties.gid ;
  //   var optFilter = $('#dropdownCommunes option:selected').val();
      
  //  if(optFilter == 'ALL'){
  //               return true;
  //              } else{
  //               return (att  == optFilter)
  //              }
  //            }
    
         function filterCanton(json){
           var att = json.properties.nature_jur;
           var optFilter = $("input[name=fltCanton]:checked").val();
               if(optFilter == 'ALL'){
                return true;
               } else{
                return (att == optFilter)
               }
           
         }
         
 
                
   function StyleCanton(feature){
    switch(feature.properties.nature_jur){
        case 'fd':
            return{
                fillColor:'green',
                weight: 2,
                opacity:1,
                color:'white',
                dashArray:3,
                fillOpacity:0.7
            }
            break
            case 'f' : 
                return{
                fillColor: "red",
                weight: 2,
                opacity:1,
                color:'white',
                dashArray:3,
                fillOpacity:0.7

                }
    }
    

   }
var icon_eau= L.icon({
            iconUrl:     'http://leafletjs.com/docs/images/leaf-green.png'  ,
            shadowUrl:'http://leafletjs.com/docs/images/leaf-shadow.png',
             
      });
    
   function StylePiste(feature){
    return{
        fillColor:'brown',
        weight: 2,
        opacity:1,
        color:'brown',
        dashArray:3
    }

   }
   function StyleLimite_commune(feature){
    return{
        fillColor:'NONE',
        weight: 3,
        opacity:1,
        color:'black'
     }

   }
  // input[name=fltCanton]:checked

         $("input[name=fltCanton]").click(function(){

    name=[];
    cantons.refresh();
    console.log(cantons);


});
//          $("#dropdownCommunes").change(function(){
// alert($(this).val());
//     gid=[];
//  limite_communes.refresh();
 
// });   

      
// Select = $('#dropdownCommunes').on('change',
//  function filterCommune(feature){
//  x=  this.value ;
// if(feature.properties.gid == x ) return true
//   }) ;  

       
//                   $('#dropdownCommunes option:selected').click(function(){
 
//     gid=[];
//     communes.refresh();


// });
 
var redIcon = new L.Icon({
  iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-red.png',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/images/marker-shadow.png',
  iconSize: [25, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41]
});
var yellowIcon = new L.Icon({
  iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-yellow.png',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/images/marker-shadow.png',
  iconSize: [25, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41]
});
var greenIcon = new L.Icon({
  iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-green.png',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/images/marker-shadow.png',
  iconSize: [25, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41]
});

 // Creates a red marker with the coffee icon
  var redMarker = L.ExtraMarkers.icon({
    icon: ': plus sign',
    markerColor: 'violet',
    shape: 'circle',
    prefix: 'fa'
  });
  //////////////////////////////////////////////////////////////////////

    </script>



          <script type="text/javascript" src="{% static 'projet/js/jquery.js' %}"></script>
 </body>
</html>