<!DOCTYPE html>
<html>
{% load static %}
 
<head>
    <title>Map</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<!--     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
 -->
    <!-- Load   Leaflet css from local file   -->
     <link rel="stylesheet" href="{% static 'projet/css/leaflet.css' %}">

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />


        <!-- Bootstrap CSS from internet -->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

 <!-- Bootstrap CSS from local file -->
<!--  <link rel="stylesheet" href="{% static 'projet/css/bootstrap.min.css' %}">
 -->
 
 <link rel="stylesheet" href="{% static 'projet/css/leaflet-sidebar.min.css' %}">
<link rel="stylesheet" href="{% static 'projet/css/leaflet.extra-markers.min.css'%}">
<link rel="stylesheet" href="{% static 'projet/css/leaflet-search.min.css'%}">
<link rel="stylesheet" href="{% static 'projet/css/MarkerCluster.css'%}">
<link rel="stylesheet" href="{% static 'projet/css/MarkerCluster.Default.css'%}">


   <link rel="stylesheet"  href="{% static 'projet/css/myStyle.css' %}">

 
    <style>
        body {
            padding: 0;
            margin: 0;
        }
        html, body, #map {
            height: 100%;
            font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
        }
        .lorem {
            font-style: italic;
            color: #AAA;
        }
    </style>
    
<!-- <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script> -->

       <script src="{% static 'projet/js/leaflet.js' %}"></script>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>

<!-- Load Esri Leaflet from CDN.  it has no .css stylesheet of its own, only .js -->
  <script src="https://unpkg.com/esri-leaflet@2.3.0/dist/esri-leaflet.js"
    integrity="sha512-1tScwpjXwwnm6tTva0l0/ZgM3rYNbdyMj5q6RSQMbNX6EUMhYDE3pMRGZaT41zHEvLoWEK7qFEJmZDOoDMU7/Q=="
    crossorigin=""></script>


       <script src="{% static 'projet/js/leaflet-providers.js' %}"></script>
    <!--[if lte IE 8]><link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.7.2/leaflet.ie.css" /><![endif]-->
<!--     <script type="text/javascript" src="{% static 'projet/js/Bing.js' %}"></script>
 -->    <script src="{% static 'projet/js/leaflet-sidebar.min.js' %}"></script>
    <script src="{% static 'projet/js/leaflet.extra-markers.min.js' %}"></script>
    <script src="{% static 'projet/js/leaflet-search.src.js' %}"></script>
        <script src="{% static 'projet/js/leaflet.markercluster.js' %}"></script>

  <!--     <script src="{% static 'projet/data/c.geojson' %}"></script>
 -->  <script type="text/javascript" src="{% static 'projet/js/leaflet.ajax.min.js' %}"></script>
<!--       <script type="text/javascript" src="{% static 'projet/js/jquery.js' %}"></script>
 -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>

     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 </head>
<body>
{% block content %}
{% endblock %}
 

     
 </body>
 
 <script type="text/javascript" language="javascript"  >

var canton_result;
var canton_result1;
var nonSelect;  
var Select  ;

$(document).ready(function(){
     

    var map = L.map('map');
    map.setView([36.69789, 5.90438], 10);
    var openstreetmap = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                  attribution: 'Map data &copy; OpenStreetMap contributors'
    }).addTo(map);        
    // Streets Topographic Gray DarkGray,ShadedRelief
// var tt =  L.tileLayer('https://drive.google.com/open?id=1O8w1uXtWwE0BuyVAvPzRHfJRBaUoHt6W').addTo(map);
    var OpenTopoMap = L.tileLayer('https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
                      maxZoom: 17,
                      attribution: 'Map data: &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, <a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)'
    });

 
    var esri =  L.esri.basemapLayer('Imagery');
    var Topographic =  L.esri.basemapLayer('NationalGeographic');
    // var esri =  L.esri.basemapLayer('Imagery');
     //  L.esri.basemapLayer('ImageryLabels').addTo(map);
    var sidebar = L.control.sidebar('sidebar').addTo(map);

    // construction des chesouc geojson cantons et filtrage

 
limite_communes =   L.geoJSON.ajax("{% url 'limite_commune' %}" ,{onEachFeature: bindLimite_commune ,  style:StyleLimite_commune});

cantons =   L.geoJSON.ajax("{% url 'cantons' %}",{ onEachFeature:bind,style:{color:'green',dashArray:'5.5',fillOpacity:0.7}});

perimetres = L.geoJSON.ajax("{% url 'perimetre' %}",{ onEachFeature:bindPerimetre,style:{color:'red',dashArray:'5.5',fillOpacity:0.7}});

parcelles =   L.geoJSON.ajax("{% url 'parcellaire' %}",{onEachFeature:bindParcellePerimetre,  style:StyleParcelle_perimetre});

foret_recreative =   L.geoJSON.ajax("{% url 'foret_recreative' %}",{onEachFeature:bindForetRecreative,  style:StyleParcelle_perimetre});

reboisement =   L.geoJSON.ajax("{% url 'filterReboisement' %}",{ onEachFeature:bindReboisement, style:StyleParcelle_perimetre});

pistes =   L.geoJSON.ajax("{% url 'piste' %}",{onEachFeature: bindpiste,style:StylePiste});

routes =   L.geoJSON.ajax("{% url 'route' %}",{onEachFeature: bindRoute,style:StyleRoute});

point_eau =  new L.geoJSON.ajax("{% url 'point_eau' %}",{
              pointToLayer: function(feature, latlng) {
                                return L.marker(latlng, {
                            icon: icon_eau1
                          })
                          }
              ,onEachFeature:bindpointEau });


    maisons_forestieres =   L.geoJSON.ajax("{% url 'maisons_forestieres' %}",
    {onEachFeature: bindMaisons_forestieres });

    brigade =   L.geoJSON.ajax("{% url 'brigade' %}",
    {onEachFeature: bindBrigade });



    

    localites =   L.geoJSON.ajax("{% url 'localites' %}",{
                    pointToLayer: function(feature,latlng){
                                    var marker = L.marker(latlng,{icon: icon_house});
                                    marker.bindPopup(feature.properties.name );
                                    return marker;
                                  },
                                   });
      ///////////////////markerclusterer//////////////////////

 
var markers =  L.markerClusterGroup();

localites.on('data:loaded', function() { 
    // Add the cluster data after the geojson layer has loaded.

          markers.addLayer(localites).addTo(map);
 
                });

   /////////////////////////////L.TileLayer.WMS///////////////////////////////////

var routes1 = new L.TileLayer.WMS('http://localhost:8080/geoserver/foret/wms',{
            layers:'foret:projet_route1',
            format : 'image/png',
            transparent : true
            })
 
// var gmeWMS = L.tileLayer.wms("https://mapsengine.google.com/xxxxxxxxxxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxx-4/wms/", {
/* layers is set to the same value as the xx'd out value in the URL above */
//     layers: 'xxxxxxxxxxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxx-4',
//     format: 'image/png',
//     version: '1.3.0',
//     transparent: true,
//     attribution: "",
// }).addTo(map);


 var dem = new L.TileLayer.WMS('http://localhost:8080/geoserver/foret/wms',{
    layers:'foret:dem',
    format : 'image/png',
     transparent : true
  })
http://localhost:8000/projet/ee/
 var pente = new L.TileLayer.WMS('http://localhost:8080/geoserver/foret/wms',{
    layers:'foret:pente',
    format : 'image/png',
     transparent : true,
     opacity:0
   }).addTo(map)
 var hillshade = new L.TileLayer.WMS('http://localhost:8080/geoserver/foret/wms',{
    layers:'foret:ombrage',
    format : 'image/png',
     transparent : true,
     opacity:0
   }).addTo(map)
  var sdg_15_3_1 = new L.TileLayer.WMS('http://localhost:8080/geoserver/foret/wms',{
    layers:'foret:land_cover_2000_2015',
    format : 'image/png',
     transparent : true
  })

  var hansen_2000 = new L.TileLayer.WMS('http://localhost:8080/geoserver/foret/wms',{
    layers:'foret:treeCover_jijel',
    format : 'image/png',
     transparent : true,
     // CQL_FILTER:'NAME=Leeds',
     // bounds: L.latLngBounds([[35.77, 5.65],[36.78, 5]]),
    opacity:0
   }).addTo(map)

  var hansen_2017 = new L.TileLayer.WMS('http://localhost:8080/geoserver/foret/wms',{
    layers:'foret:JIJEL_2017',
    format : 'image/png',
     transparent : true,
    opacity:0
   }).addTo(map)
  //////////:EARTH ENGINE LAYER/////////////////////////
// var perte2011 = L.tileLayer(
//                 "https://earthengine.googleapis.com/map/513e54630ed5221fbab60a7445ec6828/{z}/{x}/{y}?token=852196f1f96ea619635df70d42582bdd",
//                 {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
//             ).addTo(map);

 /////////////////////////////FIN L.TileLayer.WMS////////////////////////////////////////////

/////////////////////////////JQUERY SLIDE////////////////////////////////////////////
 $('#sldOpacity').on('change', function(){
              $('#image-opacity').html(this.value);
                pente.setOpacity(this.value);
          });
 $('#ombOpacity').on('change', function(){
              $('#ombrage-opacity').html(this.value);
                hillshade.setOpacity(this.value);
          });
 $('#hansenOpacity').on('change', function(){
              $('#hansen-opacity').html(this.value);
                hansen_2000.setOpacity(this.value);
          });
 $('#hansenOpacity17').on('change', function(){
              $('#hansen17-opacity').html(this.value);
                hansen_2017.setOpacity(this.value);
          });

// #f7fcf5
///////////////////////////// FIN  JQUERY SLIDE////////////////////////////////////////////

     

/////////////////////////function bindPopup/////////////////////////////////////////////////

    // function bindtpf (feature,layer){
    // layer.bindPopup(feature.properties.name.toString())
    // }  

    function bind (feature,layer){
    layer.bindPopup('<p><strong> <font size="2" color="blue">'+feature.properties.name.toString()+'<p>'+ '<p><strong> <font size="2" color="blue">Foret domaniale : '+feature.properties.layer.toString()+'<p>' )
    }

    function bindpiste (feature,layer){
            layer.bindPopup("<p><strong><font size='2' color='blue'>Tenant :"+feature.properties.about.toString()+"</strong><p>"+ 
            '<p><strong> <font size="2" color="blue"> Aboutissement:  </strong>'+feature.properties.about.toString()+'<p>')
    } 

    function bindPerimetre (feature,layer){
    layer.bindPopup('<p><strong> <font size="2" color="blue">périmètre:'+feature.properties.nom.toString()+'<p>'  )
    } 
    function bindRoute (feature,layer){
    layer.bindPopup('<p><strong> <font size="2" color="blue">'+feature.properties.ref.toString()+""+feature.properties.name.toString()+'<p>'  )
    } 

    function bindParcellePerimetre (feature,layer){
    layer.bindPopup('<p><strong> <font size="2" color="orange">Parcelle: '+feature.properties.name.toString()+'<p>'+
    '<p><strong> <font size="2" color="orange">Superficie: '+feature.properties.layer.toString()+'<p>'+
    '<p><strong> <font size="2" color="orange">Périmètre: '+feature.properties.kml_folder.toString()+'<p>'
    )}

function bindForetRecreative (feature,layer){
   layer.bindPopup('<p><strong> <font size="2" color="green">Foret récréative: '+feature.properties.name.toString()+'</strong><p>'+
    '<p><strong> <font size="2" color="green">Forêt domaniale et canton: '+feature.properties.layer.toString()+'</strong><p>'+
    '<p><strong> <font size="2" color="green">Superficie: '+feature.properties.kml_folder.toString()+'</strong><p>'
    )
    } 
function bindReboisement (feature,layer){
   layer.bindPopup('<p><strong> <font size="1" color="green">Projet: '+feature.properties.layer.toString()+'</strong><p>'+
    '<p><strong> <font size="1" color="green"> '+feature.properties.kml_folder.toString()+'</strong><p>'+
    '<p><strong> <font size="1" color="green">Notification: '+feature.properties.notificati.toString()+'</strong><p>'+
    '<p><strong> <font size="1" color="green">Entreprise: '+feature.properties.entreprise.toString()+'</strong><p>'+
    '<p><strong> <font size="1" color="green">nature de l\'action: '+feature.properties.nature_act.toString()+'</strong><p>'+
    '<p><strong> <font size="1" color="green">forets: '+feature.properties.forets.toString()+'</strong><p>'+
    '<p><strong> <font size="1" color="green">cantons: '+feature.properties.cantons.toString()+'</strong><p>'+
    '<p><strong> <font size="1" color="green">nbr plants mise en terre: '+feature.properties.nbr_plants.toString()+'</strong><p>' 
    )
    }
    function bindpointEau (feature,layer){
    layer.bindPopup("<p><strong><font size='2' color='blue'>Point d'eau :"+feature.properties.name.toString())+"</strong><p>" 
    } 

    function bindMaisons_forestieres (feature,layer){
            layer.bindPopup("<p><strong><font size='2' color='blue'>Maison forestière :"+feature.properties.name.toString())+"</strong><p>" 
    } 

    function bindBrigade (feature,layer){
            layer.bindPopup("<p><strong><font size='2' color='blue'>Brigade forestière :"+feature.properties.name.toString())+"</strong><p>"  
    }

    function bindLimite_commune (feature,layer){
            layer.bindPopup(feature.properties.name.toString())
    }
    function bindLocalites (feature,layer){
layer.bindPopup("<p><strong><font size='2' color='blue'>Locali :"+feature.properties.name.toString())+"</strong><p>"      } 
    ////////////////////////////fin functionbindPopup////////////////////////////

    /////////////////////////////layerGroup VARIABLES ////////////////////////
    var foret_recreative = L.layerGroup([foret_recreative]);
    var routes = L.layerGroup([routes]);
    var openstreetmap =   L.layerGroup([openstreetmap]);
    var esri =   L.layerGroup([esri]);
    var parcelles =   L.layerGroup([parcelles]);
    var perimetres =   L.layerGroup([perimetres]);
    var cantonss =   L.layerGroup([cantons]);
    var piste =   L.layerGroup([pistes ]);
    var point_eau =   L.layerGroup([point_eau]);
    // var tpf =   L.layerGroup([tpf ]);
    var maisons_forestieres =   L.layerGroup([maisons_forestieres]);
    var brigade = L.layerGroup([brigade ]);
    var limite_communes = L.layerGroup([limite_communes]);
    var reboisement = L.layerGroup([reboisement]);
    
    // var forest = L.layerGroup([forest]);//forest variable gee
     var searchLayer = L.layerGroup().addTo(map);
      //... adding data in searchLayer ...    searchLayer is a L.LayerGroup contains searched markers
    map.addControl( new L.Control.Search({layer:cantonss}));
      ////////////////////////// FIN layerGroup VARIABLES////////////////////
////////////////////////////couches EARTH ENGINE//////////////////////////
 
var tile_layer_d5af54675c554b2ca4bf8dd4939e4a0c = L.tileLayer(
                "https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/maps/a453ff2d4b2e974fa09cfaba45ffe0cf-870eb41688c836d13e0d19535f0e4b53/tiles/{z}/{x}/{y}",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map);
        
    
            var tile_layer_38b4edc70e60434896860f623af49aa7 = L.tileLayer(
                "https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/maps/727d2b621534264cfd0b542d41c7485a-fec912717d91d9d22bb9d578e3c43861/tiles/{z}/{x}/{y}",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map);
        
    
            var tile_layer_7677bb292882479bac6b45e8d62c49cd = L.tileLayer(
                "https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/maps/d9fcaa093a02ef5add0dac2846ffc7f8-5647e7b16458854ff9e4c97a9ec7f7a3/tiles/{z}/{x}/{y}",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map);
        
    
            var tile_layer_005c9001c76d4cfcb6e7b82e38bc2a25 = L.tileLayer(
                "https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/maps/183e65cac4db96375c2f063f545b2c87-6c9b0774b8a8eda180575d37f93de66a/tiles/{z}/{x}/{y}",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map);
        
    
            var tile_layer_5c2cd158215d41a58ef5e49a77d6db6e = L.tileLayer(
                "https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/maps/5e70bb5a49e933d738632e64d71d92dd-0f8453e5e215b6672d4f366aa77c0f88/tiles/{z}/{x}/{y}",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map);
        
    
            var tile_layer_735366b3374a4698ab6032b1dc81c38b = L.tileLayer(
                "https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/maps/ff3654cac19eae016c5738447785f10d-6d2a82f5598044b35519a93d56db4ea2/tiles/{z}/{x}/{y}",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map);
        
    
            var tile_layer_2fd4c4dbd88e43709b665cf00db8d371 = L.tileLayer(
                "https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/maps/b7fc3e357c0c8e2fffca673f04ba4ebf-eccd03175a098744bcc2a0e335f1d88f/tiles/{z}/{x}/{y}",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map);
        
    
            var tile_layer_ffd9d066fa744a3aae551de0f895b9bf = L.tileLayer(
                "https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/maps/b3e90f53eb450eea5a2ce914be7c964b-0eb3111a1d9f497375ef3672c8d2fda2/tiles/{z}/{x}/{y}",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map);
        
    
            var tile_layer_4ec26a5e7d3d4e0f96f112e990bf1b38 = L.tileLayer(
                "https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/maps/685c48cb5e5cdbc5ad3107f2debca315-f5e7e76aba34599f4724be8e9f1cdbd4/tiles/{z}/{x}/{y}",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map);
        
    
            var tile_layer_59cda5b1dbb142aa9fa0c2812df161a6 = L.tileLayer(
                "https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/maps/640fc8f348cf2fc710b97a3b30ad7c7c-f75a5ae3cf265e6e414c02cd5b6251d5/tiles/{z}/{x}/{y}",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map);
        
    
            var tile_layer_87f0df3fe68642178952443b280df8e6 = L.tileLayer(
                "https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/maps/e38e281c3ce7ee54ff4761469c95d467-55df4d4daed51d8cdc7b5b67a9793549/tiles/{z}/{x}/{y}",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map);
        
    
            var tile_layer_6668afd72f204fc4930a9bf02be2fc4e = L.tileLayer(
                "https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/maps/67849af499b612fba54b6bb7a1552150-d64e27cb6a4eb54bc51091b7e8686eb2/tiles/{z}/{x}/{y}",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map);
        
    
            var tile_layer_5192d1d55af641bda7b1114e519918cd = L.tileLayer(
                "https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/maps/a17e21f5706d47a637a2d04eaca5e695-05c20960f15426085382fa25d6039bfd/tiles/{z}/{x}/{y}",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map);
        
    
            var tile_layer_765da2eb8af44be69b253f15224b2ae9 = L.tileLayer(
                "https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/maps/fb21d974b0a02f9684b6c0bc70dc45b2-8fcdd6dc42062ad4396d02806d104e76/tiles/{z}/{x}/{y}",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map);
        
    
            var tile_layer_5ba4fec0bf3649c5a410702b73dee85d = L.tileLayer(
                "https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/maps/4d6a4028ef678b245fc5b7e4cbcced80-4a8637cd659681b5c3dcc188cd11003d/tiles/{z}/{x}/{y}",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map);
        
    
            var tile_layer_cbfd862b13b54fd3b75c0e026bd9b078 = L.tileLayer(
                "https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/maps/e467769b8481920a6fe6911b7207d1c4-c7b914f8a0a5e2ea0bd795fb0feed8fb/tiles/{z}/{x}/{y}",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map);
        
    
            var tile_layer_48ff359e612c4f8890d0bd8e80bc97a4 = L.tileLayer(
                "https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/maps/444b05b2300d4b6b2ce89b626e559092-a72785de0c1025d362b01352ce970576/tiles/{z}/{x}/{y}",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map);
        
    
            var tile_layer_2f8dd746872342298eb7b828f1de612a = L.tileLayer(
                "https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/maps/90e44e48925e1d2efa87cc8cc6f18f73-76e6bc259c4b86fb5ceb871601507543/tiles/{z}/{x}/{y}",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map);
        
    
            var tile_layer_5cc52eab58f44488a2b4a6a9f6f089e0 = L.tileLayer(
                "https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/maps/b0a4ba0e340a84e71c2b04e57e07a07f-f6afdd5f5e1a2ea6d1653b8bd13601ea/tiles/{z}/{x}/{y}",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map);
        
    
            var tile_layer_4c1464232b3545e5814fbb85a9182074 = L.tileLayer(
                "https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/maps/a5bfd529d4818c57a3df72487401d242-ec308fe28933c703d6015c9b5294ee41/tiles/{z}/{x}/{y}",
                {"attribution": "Map Data \u00a9 Google Earth Engine", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map);
        
    
             
//////////////////////////////////////////////////////////////////////////////////
      /////////////////////// overlayMaps AND CONTROL LAYER VARIABLES///////
     
    var overlayMaps2 = {
        "Open street map":  openstreetmap,
        "Google Imagery":  esri,
        // "Topographic":Topographic,
          "OpenTopoMap":OpenTopoMap
    }; 

    var overlayMaps3 = {
        "Piste festière ": piste,
        "Route ": routes,
        "Point d'eau": point_eau,
        "maisons forestieres": maisons_forestieres,
        "Brigades forestères": brigade,
        "communes":  limite_communes,
        "reboisement" : reboisement,
         "Localités" : markers,
        "cantons":cantonss,
        "Périmètres": perimetres,
        "Parcelle Périmètres": parcelles,
        "Foret récreative": foret_recreative,
        "routes1" : routes1,
         "dem" : dem,
         "pente" : pente,
         "hillshade":hillshade,
        'sdg_15_3_1':sdg_15_3_1,
        "couverture forestière jijel année:2000":hansen_2000,
       'couverture forestière jijel année:2017':hansen_2017,
       "for\u00eat 2000" : tile_layer_d5af54675c554b2ca4bf8dd4939e4a0c,
                    "for\u00eat 2017" : tile_layer_38b4edc70e60434896860f623af49aa7,
                    "Pertes 2000-2017" : tile_layer_7677bb292882479bac6b45e8d62c49cd,
                    "Pertes 2009" : tile_layer_005c9001c76d4cfcb6e7b82e38bc2a25,
                    "Pertes 2010" : tile_layer_5c2cd158215d41a58ef5e49a77d6db6e,
                    "Pertes 2011" : tile_layer_735366b3374a4698ab6032b1dc81c38b,
                    "Pertes 2012" : tile_layer_2fd4c4dbd88e43709b665cf00db8d371,
                    "Pertes 2013" : tile_layer_ffd9d066fa744a3aae551de0f895b9bf,
                    "Pertes 2014" : tile_layer_4ec26a5e7d3d4e0f96f112e990bf1b38,
                    "Pertes 2015" : tile_layer_59cda5b1dbb142aa9fa0c2812df161a6,
                    "Pertes 2016" : tile_layer_87f0df3fe68642178952443b280df8e6,
                    "Pertes 2017" : tile_layer_6668afd72f204fc4930a9bf02be2fc4e,
                    "Pertes 2018" : tile_layer_5192d1d55af641bda7b1114e519918cd,
                    "Occurrence" : tile_layer_765da2eb8af44be69b253f15224b2ae9,
                    "NDVI jijel 2019" : tile_layer_5ba4fec0bf3649c5a410702b73dee85d,
                    "NDVI jijel 2017" : tile_layer_cbfd862b13b54fd3b75c0e026bd9b078,
                    "NDVI jijel 2016" : tile_layer_48ff359e612c4f8890d0bd8e80bc97a4,
                    "NDWI masked 2019" : tile_layer_2f8dd746872342298eb7b828f1de612a,
                    "NDWI masked 2018" : tile_layer_5cc52eab58f44488a2b4a6a9f6f089e0,
                    "NDWI masked 2017" : tile_layer_4c1464232b3545e5814fbb85a9182074,
            };
             
 var controle_layer =    L.control.layers(  overlayMaps2,overlayMaps3).addTo(map);

      /////////////////////// FIN overlayMaps AND CONTROL LAYER VARIABLES////////////////
 //jquery GEE////////////////////////
$('#pertes').on('change', function(){
              $('#pertes-opacity').html(this.value);
                tile_layer_6021f6003065480c9c96900ec9f1db52.setOpacity(this.value);
          });
  ////////////////////
      $('.header').click(function(){
    $(this).nextUntil('thead.tr.header').slideToggle(1000);
});
// la function initialized enleve tous les layers et ajoute openstreetmap, ombrage et pente
 function initialized(){
      if(map.hasLayer(canton_result)){
          map.eachLayer(function (canton_result) {
                          map.removeLayer(canton_result);
                          openstreetmap.addTo(map);
                          hillshade.addTo(map);
                          pente.addTo(map);
                          hansen_2000.addTo(map);
                          hansen_2017.addTo(map);

                        });
          controle_layer.addTo(map);

      }
   }
 
 

$( "#selection-button" ).click(function(e){
 initialized();
 
      var communeSelected = $('#dropdownCommunes option:selected').val();
       
      var communeResultat = $('#dropdownCommunes option:selected');
 
        $.ajax({
              url : "{% url  'commune_data'  %}",
              type : "POST",
              data : {
              gid : communeSelected,
              csrfmiddlewaretoken: '{{ csrf_token }}'
              },
              dataType:"JSON",
        success: function(data){
          // var k = '<tbody>';
         afficheCanton(data);
        table = afficheTable(data);
              
         document.getElementById('resultats').innerHTML =table;
        // map.addControl(  L.Control.Search({layer:cantonss}));
        $('#divResult').html('<p><strong> <font size="2" color="orange">Resultat pour la commune : '+communeResultat.text()+'</p>' );
// console.log('valeur de la requete commune '+ JSON.stringify(data));

          $("input[name=resultats_canton]").change(
                function() {
                   
                   Select = $(this).is(':checked');
                      if ( Select) {
// console.log('valeur de la requete sttatus checked '+ canton_result);
//   console.log('valeur de la requete commune '+ JSON.stringify(data));
                            initialized();
                             afficheCanton(data);
                            geojsonLayer.addTo(map);
                            console.log(geojsonLayer._bounds);
                            // afficheHansen_2000(geojsonLayer);
                       }else{
                          // console.log('valeur de la requete sttatus unchecked '+ canton_result);
                            map.eachLayer(function (canton_result) {
                            map.removeLayer(canton_result);
                             });
                            openstreetmap.addTo(map);
                            hillshade.addTo(map);
                            pente.addTo(map); 
                            geojsonLayer.addTo(map);
                            
                             hansen_2000.addTo(map);
                          hansen_2017.addTo(map);
                         }
                            
                  });  

        },
        error : function(xhr,errmsg,err) {
        alert(xhr.status + ": " + xhr.responseText);
        }

        })
    /////////////////////fin cantons/////////////////////
    //////////////////////////tpf////////////////////
    // $.ajax({
    //     url : "{% url  'filterTpf'  %}",
    //     type : "POST",
    //     data : {
    //     gid : communeSelected,

    //     csrfmiddlewaretoken: '{{ csrf_token }}'

    //     },
    //     success: function(data){

       

    //         afficheCanton(data);
    //   table = afficheTable(data);
              
    //      document.getElementById('table_tpf').innerHTML =table;
 
    //     },
    //     error : function(xhr,errmsg,err) {
    //         alert(xhr.status + ": " + xhr.responseText);
    //     }
    // })
    ///////////////fin tpf/////////////////////////
    

    //////////////////////////point eau////////////////////
    $.ajax({
          url : "{% url  'filterPoint_eau'  %}",
          type : "POST",
          data : {
          gid : communeSelected,

          csrfmiddlewaretoken: '{{ csrf_token }}'

          },
          success: function(data){
              eau =    L.geoJSON(data,{
              pointToLayer: function(feature, latlng) {
              return L.marker(latlng, {
              icon: icon_eau1
              })
              }
              ,onEachFeature:bindpointEau  }).addTo(map);
          // console.log(data);
            data.features.forEach(function(feature) {
             document.getElementById("filterPoint_eau").innerHTML += "<tr><td>" +feature.properties.name+ "</td></tr>";
             }); 

          },

          error : function(xhr,errmsg,err) {
            alert(xhr.status + ": " + xhr.responseText);
          }
          })
    /////////////////fin point eau/////////////////////////
    //////////////////////////piste////////////////////
    $.ajax({
          url : "{% url  'filterPiste'  %}",
          type : "POST",
          data : {
          gid : communeSelected,

          csrfmiddlewaretoken: '{{ csrf_token }}'

          },
          success: function(data){
                var p = '<tbody>';
                for (var i = data.length - 1; i >= 0; i--) {
                geo1 = data[i];
                var ree   = L.geoJSON(geo1 ,{style:StylePiste}).addTo(map);

                ree.bindPopup("<p><strong><font size='2' color='blue'>Piste :"+geo1[1]+"</strong><p>");
                // console.log(ree);
                p+= '<tr>';
                p+= '<td>' + geo1[1] + '</td>';
                p+= '<td>' + geo1[3] + '</td>';

                p+= '</tr>';

                }
                p+='</tbody>';
                document.getElementById('pistes').innerHTML = p;

                },
          error : function(xhr,errmsg,err) {
          alert(xhr.status + ": " + xhr.responseText);
          }
    })
    /////////////////fin piste/////////////////////////
    ///////////////////// functio zoom commune////////////////////////////////////////////
    $.ajax({
        url : "{% url 'zoom_commune'  %}",
        type : "POST",
        data : {
        gid : communeSelected,

        csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function(data){
 
            geojsonLayer =   L.geoJSON(data ,
          {onEachFeature: bindLimite_commune ,  style:StyleLimite_commune}).addTo(map);
                              
          map.fitBounds(geojsonLayer.getBounds());
          resetFormCommune();

        },
        error : function(xhr,errmsg,err) {
           alert(xhr.status + ": " + xhr.responseText);
        }
        })



    });

 ////////////////////////////////////// fin ajax clip commune//////////////////////////
       
$( "#selection-button-perimetre" ).click(function(event ) {
            event.preventDefault();
            var communeSelected = $('#dropdownPerimetre option:selected').val();
            alert(communeSelected);
             resetFormPerimetre();
/////////////////////zoom perimetre/////////////////////
            $.ajax({
                  url : "{% url  'filterPerimetre'  %}",
                  type : "POST",
                  data : {
                  id : communeSelected,

                  csrfmiddlewaretoken: '{{ csrf_token }}'

                  },
                   success: function(data){

                  var geojsonLayer =   L.geoJSON(data ,
                  { onEachFeature:bindPerimetre, style:StyleLimite_perimetre}).addTo(map);
                  geojsonLayer.bringToBack()
                  map.fitBounds(geojsonLayer.getBounds(),16);
                  },
                  error : function(xhr,errmsg,err) {
                  alert(xhr.status + ": " + xhr.responseText);
                  }
                  })
    });
 ////////////////////////////////////// fin ajax perimetre//////////////////////////

  //////////////////////////////////////  ajax parcelles perimetres//////////////////////////

$( "#selection-button-parcelle-perimetre" ).click(function(event ) {
              event.preventDefault();
              var communeSelected = $('#dropdownParcellePerimetre option:selected').val();
              resetFormParcellePerimetre();

              $.ajax({
              url : "{% url  'filterParcelle'  %}",
              type : "POST",
              data : {
              id : communeSelected,
              csrfmiddlewaretoken: '{{ csrf_token }}'
              },
              success: function(data){
              var geojsonLayer =   L.geoJSON(data ,
              { onEachFeature:bindParcellePerimetre, style:StyleParcelle_perimetre}).addTo(map);
              geojsonLayer.bringToBack()
              map.fitBounds(geojsonLayer.getBounds(),14);
              },
              error : function(xhr,errmsg,err) {
              alert(xhr.status + ": " + xhr.responseText);
              }
              })

              });
///////////////////////////////////filter foret recreative//////////////////////////////
$( "#selection-button-foret-recreative" ).click(function(event ) {
              event.preventDefault();
              var communeSelected = $('#dropdownForetRecreative option:selected').val();
              alert(communeSelected);
            resetFormForetRecreative();

              $.ajax({
              url : "{% url  'filterForetRecreative'  %}",
                  type : "POST",
                  data : {
                  id : communeSelected,
                  csrfmiddlewaretoken: '{{ csrf_token }}'
                  },
                  success: function(data){
                  var geojsonLayer =   L.geoJSON(data ,
                  { onEachFeature:bindForetRecreative, style:StyleParcelle_perimetre}).addTo(map);
                  geojsonLayer.bringToBack()
                  map.fitBounds(geojsonLayer.getBounds(),14);
                  },
                  error : function(xhr,errmsg,err) {
                  alert(xhr.status + ": " + xhr.responseText);
                  }
              })

              });
$( "#selection-button-reboisement" ).click(function(event ) {
              event.preventDefault();
              var communeSelected = $('#dropdownReboisement option:selected').val();
             
            resetFormReboisement();

              $.ajax({
              url : "{% url  'filterReboisement'  %}",
                  type : "POST",
                  data : {
                  id : communeSelected,
                  csrfmiddlewaretoken: '{{ csrf_token }}'
                  },
                  success: function(data){
                  var geojsonLayer =   L.geoJSON(data ,
                  { onEachFeature:bindReboisement, style:StyleParcelle_perimetre}).addTo(map);
                  geojsonLayer.bringToBack()
                  map.fitBounds(geojsonLayer.getBounds(),14);

                    table_identification = afficheReboisementIdentification(data);
                    table_Contractualisation = afficheReboisementContractualisation(data);
                    table_Description = afficheReboisementDescription(data);
                     table_MiseŒuvreFinancier = afficheReboisementMiseŒuvreFinancier(data);
                      
                   document.getElementById('resultats_identification').innerHTML =table_identification;
                   document.getElementById('resultats_contractualisation').innerHTML =table_Contractualisation;
                    document.getElementById('resultats_description').innerHTML =table_Description;
                     // document.getElementById('resultats_miseŒuvre_financier').innerHTML =table_MiseŒuvreFinancier;
                    document.getElementById('prog').innerHTML =data.features[0].properties.kml_folder;

                  },
                  error : function(xhr,errmsg,err) {
                  alert(xhr.status + ": " + xhr.responseText);
                  }
              }) 

            $.ajax({
              url : "{% url  'sommephysique'  %}",
                  type : "POST",

                  data : {
                  id : communeSelected,
                  csrfmiddlewaretoken: '{{ csrf_token }}'
                  },
                  dataType: "json",
                  success: function(data){
                    // alert('requete juste');
                      // console.log(data);
                   table_MiseŒuvrePhysique = afficheReboisementMiseŒuvreSommePhysique(data);
// console.log(table_MiseŒuvrePhysique);
                   document.getElementById('resultats_miseŒuvre_total_physique').innerHTML =table_MiseŒuvrePhysique;
                   },
                  error : function(xhr,errmsg,err) {
                  alert(xhr.status + "sssss: " + xhr.responseText);
                  }
              })

            $.ajax({
              url : "{% url  'sommefinance'  %}",
                  type : "POST",

                  data : {
                  id : communeSelected,
                  csrfmiddlewaretoken: '{{ csrf_token }}'
                  },
                  dataType: "json",
                  success: function(data){
                    // alert('requete juste');
                      // console.log(data);
                   table_MiseŒuvrePhysique = afficheReboisementMiseŒuvreSommeFinance(data);
// console.log(table_MiseŒuvrePhysique);
                   document.getElementById('resultats_miseŒuvre_total_finance').innerHTML =table_MiseŒuvrePhysique;
                   },
                  error : function(xhr,errmsg,err) {
                  alert(xhr.status + "sommefinance: " + xhr.responseText);
                  }
              })
            $.ajax({
              url : "{% url  'rarfinance'  %}",
                  type : "POST",

                  data : {
                  id : communeSelected,
                  csrfmiddlewaretoken: '{{ csrf_token }}'
                  },
                  dataType: "json",
                  success: function(data){
                    // alert('requete juste');
                      // console.log('rarfinance'+data);
                   table_MiseŒuvrePhysique = afficheReboisementMiseŒuvreSommeFinance(data);
// console.log(table_MiseŒuvrePhysique);
                   document.getElementById('rar_finance').innerHTML =table_MiseŒuvrePhysique;
                   },
                  error : function(xhr,errmsg,err) {
                  alert(xhr.status + "rarfinance: " + xhr.responseText);
                  }
              })
            $.ajax({
              url : "{% url  'montant_prevu'  %}",
                  type : "POST",

                  data : {
                  id : communeSelected,
                  csrfmiddlewaretoken: '{{ csrf_token }}'
                  },
                  dataType: "json",
                  success: function(data){
                    // alert('requete juste');
                      // console.log('montant_prevu'+ data);
                   table_MiseŒuvrePhysique = afficheReboisementMiseŒuvreSommeFinance(data);
// console.log(table_MiseŒuvrePhysique);
                   document.getElementById('montant_prevu').innerHTML =table_MiseŒuvrePhysique;
                   },
                  error : function(xhr,errmsg,err) {
                  alert(xhr.status + "sssss: " + xhr.responseText);
                  }
              })
            $.ajax({
              url : "{% url  'nbrplants'  %}",
                  type : "POST",

                  data : {
                  id : communeSelected,
                  csrfmiddlewaretoken: '{{ csrf_token }}'
                  },
                  dataType: "json",
                  success: function(data){
                    // alert('requete juste');
                      // console.log('nbrplants' + data);
                   table_MiseŒuvrePhysique = afficheReboisementMiseŒuvreSommeFinance(data);
// console.log(table_MiseŒuvrePhysique);
                   document.getElementById('nbrplants').innerHTML =table_MiseŒuvrePhysique;
                   },
                  error : function(xhr,errmsg,err) {
                  alert(xhr.status + "nbrplants: " + xhr.responseText);
                  }
              })
            $.ajax({
              url : "{% url  'espece'  %}",
                  type : "POST",

                  data : {
                  id : communeSelected,
                  csrfmiddlewaretoken: '{{ csrf_token }}'
                  },
                  success: function(data){
                    alert('requete juste');
                      console.log('espece' + data);
                   table_MiseŒuvrePhysique = afficheReboisementMiseŒuvreSommeFinance(data);
                    document.getElementById('espece').innerHTML =table_MiseŒuvrePhysique;
                   },
                  error : function(xhr,errmsg,err) {
                  alert(xhr.status + "espece: " + xhr.responseText);
                  }
              })
              });
 


                
         function afficheCanton(data){
          canton_result = null;
 for (var i = data.length - 1; i >= 0; i--) {
       canton_result   =  L.geoJSON(data[i] ,{
                    style:{color:'green',dashArray:'5.5',fillOpacity:0.7}
                     }).bindPopup(data[i][1]).bringToBack().addTo(map)  ;
      }
 }
function afficheTable(data){
  var table = '<tbody>';
 for (var i = data.length - 1; i >= 0; i--) {

            table+= '<tr>';
            table+= '<td>' + data[i][1] + '</td>';
            var sup = data[i][3];
            table+= '<td>' + parseFloat(sup/10000).toFixed(2)+ '</td>';

            table+= '</tr>';
      }
      table+='</tbody>';
      return table
          
}     
  function afficheReboisementIdentification(data){
    var table = '<tbody>';
table+= '<tr>';
  table+= '<td> WILAYA:JIJEL </td>';
    table+= '<td> Circonscription:'+data.features[0].properties.circonscri+' </td>';

   table+= '</tr>';
  table+= '<tr>';
  table+= '<td> DAIRA : '+data.features[0].properties.daira+'  </td>';
      table+= '<td> Disrict:'+data.features[0].properties.district+' </td>';

   table+= '</tr>';

   table+= '<tr>';
  table+= '<td> Commune : '+data.features[0].properties.commune+'</td>';
        table+= '<td> Triage:'+data.features[0].properties.triage+' </td>';

   table+= '</tr>';

 table+= '<td> Lieu dit : '+data.features[0].properties.cantons+' </td>';
table+= '<td> coordonnées géographique  : x:'+data.features[0].properties.x+' y : '+data.features[0].properties.y+'</td>';

   table+='</tbody>';
      return table
          
}     
 
function afficheReboisementContractualisation(data){
var table = '<tbody class ="small">';
table+= '<tr>';
  table+= '<td> Date de notification du programme:'+data.features[0].properties.notificati+' </td>';
table+= '</tr>';
table+= '<tr>';
  table+= '<td> Date d\'appel d\'offre ou consultation : '+data.features[0].properties.appel_offr+'</td>';
table+= '</tr>'; 
table+= '<tr>';
  table+= '<td> Numéro et date et d\'attribution du contrat  : '+data.features[0].properties.date_attri+'</td>';
table+= '</tr>'; 
table+= '<tr>';
  table+= '<td> ODS de lancement des travaux  : '+data.features[0].properties.date_ods_d+'</td>';
table+= '</tr>'; 
table+= '<tr>';
  table+= '<td> Durée du contrat  : '+data.features[0].properties.delais_con+'</td>';
table+= '</tr>'; 

table+= '<tr>';
  table+= '<td> Entreprise de réalisation   : '+data.features[0].properties.entreprise+'</td>';
table+= '</tr>'; 
table+= '<tr>';
  table+= '<td> Origine des plants : PEPINIERE KISSIR JIJEL </td>';
table+= '</tr>'; 
table+= '<tr>';
  table+= '<td> Provenance de semences utilisées par la pépinière citée: JIJEL</td>';
table+= '</tr>'; 

 table+='</tbody>';
return table
          
}    
function afficheReboisementDescription (data){
var table = '<tbody class ="small">';
table+= '<tr>';
  table+= '<td> Nature de l\'action:'+data.features[0].properties.nature_act+' </td>';
table+= '</tr>';
table+= '<tr>';
  table+= '<td> Superficie  : '+data.features[0].properties.volume_pre+'</td>';
table+= '</tr>'; 
table+= '<tr>';
  table+= '<td> Nombre de plants prévus par espèce   : '+data.features[0].properties.besoins_pl+'</td>';
table+= '</tr>'; 
table+= '<tr>';
  table+= '<td> Densité retenue par  espèce (plant/ha)   : '+data.features[0].properties.densite+'</td>';
table+= '</tr>'; 
table+= '<tr>';
  table+= '<td> Objectif de plantation   : '+data.features[0].properties.objectif+'</td>';
table+= '</tr>'; 

table+= '<tr>';
  table+= '<td> Quelle est  occupation du sol de la parcelle à reboiser   : '+data.features[0].properties.occupation+'</td>';
table+= '</tr>'; 
table+= '<tr>';
  table+= '<td> Cet impact a-t- il fait  objet dun reboisement les 10 dernières années ?  Si oui laquelle : '+data.features[0].properties.antecedant+'</td>';
table+= '</tr>'; 
table+= '<tr>';
  table+= '<td> Montant prévu (DA TTC) : '+data.features[0].properties.montant_ma+'</td>';
table+= '</tr>'; 

 table+='</tbody>';
return table
          
} 
function afficheReboisementMiseŒuvreSommePhysique (data){
  var td = '<td> '+data +  ' Ha</td>';
 
 return td          
} 
function afficheReboisementMiseŒuvreSommeFinance (data){
  var td = '<td> '+data +  ' </td>';
 
 return td          
} 


function afficheReboisementMiseŒuvreFinancier (data){
var table = '<tbody class ="small">';
table+= '<tr>';
  table+= '<td>'+data.features[0].properties.montant_ma+' </td>';
  table+= '<td> 0  </td>';
  table+= '<td> 0 </td>';
  table+= '<td> '+data.features[0].properties.montant_ma+' </td>';
  

 table+='</tbody>';
return table
          
}                   
function afficheGraphe(data){
  var donnnee_graphe1= [];
 
  for (var i = data.length - 1; i >= 0; i--) {

            donnnee_graphe1+=   data[i][1]   ;
          
  
       }
       return  donnnee_graphe1 ;
          
}       
  function afficheHansen_2000(data){
      var hansen_2000 = new L.TileLayer.WMS('http://localhost:8080/geoserver/foret/wms',{
    layers:'foret:treeCover_jijel',
    format : 'image/png',
     transparent : true,
    
       bounds: L.latLngBounds(data),
    opacity:0
   }).addTo(map)
}

   /// /////fin de document ready functions  ////////////////////////////////////////    

          });

            var icon_eau= L.icon({
              iconUrl:     'http://leafletjs.com/docs/images/leaf-green.png'  ,
              shadowUrl:'http://leafletjs.com/docs/images/leaf-shadow.png',           
            });

            var icon_eau1= L.icon({
              iconUrl: '{% static "projet/images/waterdrop.png" %}' ,       
            });

            var icon_house= L.icon({
             iconUrl: '{% static "projet/images/cottage.png" %}' ,       
            });

     
          function StylePiste(feature){
              return{
              fillColor:'brown',
              weight: 3,
              opacity:1,
              color:'brown',
              dashArray:4
             }
          }


          function StyleRoute(feature){
              return{
              fillColor:'yellow',
              weight: 2,
              opacity:1,
              color:'brown',
              dashArray:2
              }
          }

          function StyleLimite_commune(feature){
              return{
              fillColor:'NONE',
              weight: 3,
              opacity:1,
              color:'black'
              }
          }

          function StyleLimite_perimetre(feature){
              return{
              fillColor:'NONE',
              weight: 3,
              opacity:1,
              color:'red'
              }
          }

          function StyleParcelle_perimetre(feature){
              return{
              fillColor:'red',
              weight: 3,
              opacity:1,
              color:'orange'
              }
          }

          function StyleTpf(feature){
              return{
              fillColor:'brown',
              weight: 3,
              opacity:1,
              dashArray:'5.5',
              color:'orange'
              }
          }

          // color:'green',dashArray:'5.5',fillOpacity:0.7
        function resetFormCommune() {
        document. getElementById("limi").reset();
        }

        function resetFormPerimetre() {
        document. getElementById("peri").reset();
        }

        function resetFormParcellePerimetre() {
        document. getElementById("parcel").reset();
        }

        function resetFormForetRecreative() {
        document. getElementById("foret-recrea").reset();
        }
 function resetFormReboisement() {
        document. getElementById("foret-reboisement").reset();
        }
          var redIcon = new L.Icon({
              iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-red.png',
              shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/images/marker-shadow.png',
              iconSize: [25, 41],
              iconAnchor: [12, 41],
              popupAnchor: [1, -34],
              shadowSize: [41, 41]
          });

          var yellowIcon = new L.Icon({
              iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-yellow.png',
              shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/images/marker-shadow.png',
              iconSize: [25, 41],
              iconAnchor: [12, 41],
              popupAnchor: [1, -34],
              shadowSize: [41, 41]
          });

          var greenIcon = new L.Icon({
              iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-green.png',
              shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/images/marker-shadow.png',
              iconSize: [25, 41],
              iconAnchor: [12, 41],
              popupAnchor: [1, -34],
              shadowSize: [41, 41]
          });

          // Creates a red marker with the coffee icon
// fas fa-dove fa-pulse

          var redMarker = L.ExtraMarkers.icon({
              icon: 'fa-spinner',
              markerColor: 'violet',
              shape: 'circle',
               
          });
  //         var redMarker = L.AwesomeMarkers.icon({
  //   icon: 'fa-coffee',
  //   markerColor: 'red',
  //   shape: 'square',
  //   prefix: 'fa'
  // });
  ////////////////////////////
function getLocalite(localites){
  return   localites;
}

           //////////////////////////////////////////////////////////////////////
        
          
            

        
    
            
            
    </script>
<!-- 4/sAEUBCTI4Edd5HpcwhVjZyKVasiOmVe6EYdU34JNdRFc0Vd0Ln8yHaU
 --><script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDb4zkM4A_4LPifJAWMQFEgeGVmgBDwt2U"
            async defer></script>

  </body>
</html>
 