{% extends 'projet/layout.html' %}
{% block content %} 
<div class="container">
    <div class="row">
        
        <div class="col-8">
 
            <div class="card">
              <div class="card-body">

                <h5 class="card-title">Ajouter un Objectif spécifique </h5>

                  <form action="" methode="post" id="id_objectifspecifique">
                  {% csrf_token %}
                  <option value="">---------</option>
{% for objectifspecifique in objectifspecifiques %}
<option value="{{ objectifspecifique.pk }}">{{ objectifspecifique.name }}</option>
{% endfor %}
                   	<a href="{% url 'os_add' %}" class="btn btn-success">Add</a>
                   
                <a href="" class="btn btn-success">delete </a>
                <a href="" class="btn btn-success">Update</a>
                  </form>

                
              </div>
            </div>
         
        </div>
   
        </div>
    </div>
    <hr>
 

 
  {% endblock %}