{% extends 'projet/layout.html' %}

{% block odd15 %}
 {% for goals in  odd15.goal  %}
   <div class="row">
    
       <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"  >Cible: {{ goals.code }}    </h5>
            <p class="card-text"  >{{ goals.title }}  </p>
           <div id ="l{{ forloop.counter}}" class="collapse shadow-sm p-3 mb-5 bg-white" >
 
              {% for indicateur in  goals.indicators %}

<!-- <div >
 -->              
<p><a href="{% url  'detail_cible' indicateur.code  %}" class="text-success"> Indicateur: {{ indicateur.code}}  :{{ indicateur.description}} </a> </p> 
<!--                 </div> 
 -->  
                

              {% endfor  %}
              </div>

                <a class="btn btn-success" data-toggle="collapse" href="#l{{ forloop.counter}}" role="button" aria-expanded="false" aria-controls="l{{ forloop.counter  }}">Afficher</a>

                 
         </div>
      </div>
   

  </div>
</div>
{% endfor %}



{% endblock %}