{% extends 'projet/layout.html' %}
{% block content %} 
  

   <div class="container">
     <h4>Suppression du projet en cours</h4>
 <p> est vous sûre de supprimer  <span style="color: red">  {{ object.titre }} </span>  </p> 
   <form method="post" id="projetForm"  novalidate>
    {% csrf_token %}
    <table>
      {{ form.as_table}}
    </table>

    <button type="submit" class ="btn btn-danger">delete</button>
 
    <a href="{% url 'projet_detail' projet.id %}">Retour</a>

   </form>
</div>

 {% endblock %}