{% extends 'projet/layout.html' %}
{% block content %} 
<div class="container">
<div class="row">
  <div class="col-4">
 
            <div class="card" ">
              <div class="card-body">

                <h6 class="card-title"> Titre du projet:  <span style="color:green">   {{ projet.titre }} </span> </h6>
                  
                <h6 class="card-title"> Commune:  <span style="color:green"> {{ projet.commune }} </span></h6>
                 <h6 class="card-title" > Objectif Global: </h6>
                                    <div class = "card-text">
                                    <span style="color:green">{{ projet.objectifglobal}}</span> 
                                    </div>
                <h6 class="card-title"> Lieu dit:<span style="color:green"> {{ projet.lieu_dit }}</span> </h6>
          <h6 class="card-title"> Menage : <span style="color:green"> {{ projet.menage }} </span></h6>
                 <h6 class="card-title"> Année :<span style="color:green">{{ projet.annee }}</span></h6>
 

                <a href="{% url 'projet_add'  %}" class="btn btn-success">Add</a>
                <a href="{% url 'projet_delete' projet.pk %}" class="btn btn-success">delete </a>
                <a href= "{% url 'projet_change' projet.pk %}" class="btn btn-success">Update</a>
              </div>
            </div>


</div>
<div class="col-8" >
  <a class="btn btn-warning" data-toggle="collapse" href="#collapseExampleres" role="button" aria-expanded="false" aria-controls="collapseExample">
     résultat disponible actuel pour Os {{os.id}}:  <span style="color:green ">{{os.name}}</span>
  </a>
  
  
          <div   id="collapseExampleres">
               {% if resultats.count %}
                {% for resultat in resultats.all %}
                 <div class = "card">
                  <div class = "card-text">
                    <span class = "card-title">
                       <span style="color:red">{{resultat.name}}</span>
                    </span>
                  </div>
                 </div>
                 <div class ="card-footer">
                     
                   <form action="{% url 'assoc_resultat' projet.id os.id resultat.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class ="btn-primary"> Ajouter</button>
                  </form>
                 </div>
                 {% endfor %}

              {% else %}
              <h6> {{projet.titre}} a déja tous les résultat   </h6>
              {% endif %}
            </div>
  </div>


  </div>
  <!-- fin de la partie de fiche de projet -->
   <hr>
    <div class="row">
          
            <div class="col-12" ">
              <div class="card" ">
                <h6>Résultat(s) <span style="color:green">{{projet.titre}}</span></h6>
                  {% if  projet.resultat.count %}
                    {% for cos in   projet.resultat.all %}
                       <div class = "card">
                        <div class = "card-text">
                        <a href="{% url 'projets_detail_action' projet.pk  os.id cos.id  %}" class="btn btn-success">Actions</a>

                        <a href="{% url 'detail_indicateur_quinquenat' cos.id %}" class="btn btn-success"> Indic- National</a>
                        <a href="{% url 'remove_resultat' projet.pk  os.id cos.id %}" class="btn btn-danger">Supprimer</a>
                          <span class = "card-title">
                            <span style="color:red"><!-- os : {{os.id}} --> R:{{cos.id}}: {{cos.name}}</span>

                          </span>
                        </div>                       
                       </div>


                       <div class ="card-footer">
                        <form action="" method="post">
                       {% csrf_token %}                 
                       </form>


                           <!--  resultats associe -->
        
                      </div>
                    {% endfor %}
                {% else %}
              <h6> Pas resultat pour ce projet </h6>
                {% endif %}
            </div>


            </div>
        
      </div> 

</div>
   
  {% endblock %}