{% extends 'projet/layout.html' %}
{% block content %} 
<div class="container">
<div class="row">
  <div class="col-4">
 
            <div class="card" ">
              <div class="card-body">

                <h6 class="card-title"> Titre du projet:  <span style="color:green">   {{ projet.titre }} </span> </h6>
                  
                <h6 class="card-title"> Commune:  <span style="color:green"> {{ projet.commune }} </span></h6>
                 <h6 class="card-title" > Objectif Global: </h6>
                                    <div class = "card-text">
                                    <span style="color:green">{{ projet.objectifglobal}}</span> 
                                    </div>
                <h6 class="card-title"> Lieu dit:<span style="color:green"> {{ projet.lieu_dit }}</span> </h6>
          <h6 class="card-title"> Menage : <span style="color:green"> {{ projet.menage }} </span></h6>
                 <h6 class="card-title"> Année :<span style="color:green">{{ projet.annee }}</span></h6>
 

                <a href="{% url 'projet_add'  %}" class="btn btn-success">Add</a>
                <a href="{% url 'projet_delete' projet.pk %}" class="btn btn-success">delete </a>
                <a href= "{% url 'projet_change' projet.pk %}" class="btn btn-success">Update</a>
              </div>
            </div>


</div>
<div class="col-8" >
  <a class="btn btn-warning" data-toggle="collapse" href="#collapseExampleres" role="button" aria-expanded="false" aria-controls="collapseExample">
    <span style="color:red "> Action(s) disponible(s)  </br> 
    Objectif spécifique:  <span style="color:green ">{{os.name}}</span>  </br> Résultat  <span style="color:green "> {{resultats.name}}</span>
  </a>
  
  
          <div   id="collapseExampleres">
                
                  
                 <div class ="card-footer">
                     
                   <form action="{% url 'assoc_action' projet.id os.id resultats.id   %}" method="post">
                    {% csrf_token %}
                    {{action_form.as_p}}
                    <button type="submit" class ="btn-primary"> Ajouter action</button>
                  </form>
                 </div>
                  
            </div>
  </div>


  </div>
  <!-- fin de la partie de fiche de projet -->
   <hr>
    <div class="row">
          
            <div class="col-12" ">
                 <h6>Table d'actions    <span style="color:green">{{projet.titre}}</span></h6>
                    <table class="table striped">
                        <thead>
                         <tr>
                             <th>action</th>
                            <th>Volume</th>
                            <th>Montant</th>
                            <th>Source financement</th>
                            <th>Durée</th>

                         </tr>  
                        </thead>
                        <tbody>
                          {% for action in  projet.action_set.all %}
                          <tr>
                           
                            <td>{{action.name}}</td>
                            <td>{{action.volume}}</td>
                            <td>{{action.montant}}</td>
                            <td>{{action.source_financement}}</td>
                            <td>{{action.duree}}</td>
                            </tr>
                          {% endfor %}

                        </tbody>
                         
                      </table>

              
            </div>


            </div>
        
      </div> 

    
  {% endblock %}