{% extends 'incendies/layout.html' %}
{% block content %} 
 
 
<div class="float-right">
      <a href="{% url 'projet_histogramme'  %}" class ="btn btn-success btn-sm">Histogramme projet</a>
      <a href="{% url 'projet_add'  %}" class ="btn btn-success btn-sm">Nouveau projet</a>
 
</div>
  <table id="dtBasicExample" class="table table-bordered table-striped table-hover table-sm table-responsive small">
    <thead>
      <tr>
      <th  class="th-sm">Année</th>
        <th  class="th-sm">Projet</th>
        <th  class="th-sm">Commune</th>
        <th  class="th-sm">Objectif Global</th>
        <th  class="th-sm">Lieu dit</th>
        <th  class="th-sm">Ménage </th> 

      </tr>
    </thead>
    <tbody>
      {% for projet in people %}
        <tr>
        <td> {{ projet.annee  }} </td>
          <td> {{ projet.titre }} </td>
          <td>{{ projet.commune }}</td>
          <td>{{ projet.objectifglobal}}</td>
           <td>{{ projet.lieu_dit}}</td>
          <td>{{ projet.menage }}</td>  
          <td>
           <div class="btn-group" role="group" >
             <a href="{% url 'projet_detail' projet.pk %}" class="btn btn-success "   > <small>Détails</small></a> 
            
            <a href="{% url 'projet_delete' projet.pk %}"    class="btn btn-danger"  ><small>Supprimer</small></a> 
            
             <a href="{% url 'projet_change' projet.pk %}" class="btn btn-warning"   ><small>Actualisé</small></a> 
</div>
           
          </td>

           
        </tr>
      {% empty %}
        <tr>
          <td colspan="4">No projet in the database. <a href="{% url 'projet_add' %}">Add the first projet</a>.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{num}}">{{num}}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{num}}</a>

        {% endif %}


      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number  }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock %}

 