{% extends 'projet/layout.html' %}
{% block contentreboisement %} 
 
 
<div class="float-right">
      <a href="{% url 'cartoreboisement'  %}" class ="btn btn-success btn-sm">Carto Reboisements</a>

      <a href="{% url 'reboisement_histogramme'  %}" class ="btn btn-success btn-sm">Histogramme des reboisements</a>
      <a href="{% url 'reboisement_add'  %}" class ="btn btn-success btn-sm">Nouveau Reboisement</a>
 
</div>
  <table id="dtBasicExample" class="table table-bordered table-striped table-hover table-sm table-responsive small ">
    <thead>
      <tr>

         <th  class="th-sm">Nom</th>
        <th  class="th-sm">Programme</th>
        <th  class="th-sm">Commune </th>
        <th  class="th-sm">Forêt </th>
        <th  class="th-sm">Cantons</th>
        <th  class="th-sm">District</th>
        <th  class="th-sm">Triage</th>
        <th  class="th-sm">Volume </th>
        <th  class="th-sm">Montant </th> 
      </tr>
    </thead>
    <tbody>
      {% for reboisement in people %}
        <tr>
           <td> {{ reboisement.layer }} </td>
          <td>{{ reboisement.kml_folder }}</td>
          <td>{{ reboisement.commune}}</td>
          <td>{{ reboisement.forets}}</td>
           <td>{{ reboisement.cantons}}</td>
           <td>{{ reboisement.district}}</td>
           <td>{{ reboisement.triage}}</td>
          <td>{{ reboisement.volume_pre }}</td>
          <td>{{ reboisement.montant_ma }}</td> 
  
           <td>
           <div class="btn-group" role="group" >
             <a href="{% url 'reboisements_detail' reboisement.pk %}" class="btn btn-success "   > <small>Détails</small></a> 
            
            <a href="{% url 'reboisement_delete' reboisement.pk %}"    class="btn btn-danger"  ><small>Supprimer</small></a> 
            
             <a href="{% url 'reboisement_change' reboisement.pk %}" class="btn btn-warning"   ><small>Actualisé</small></a> 
</div>
           
          </td>

           
        </tr>
      {% empty %}
        <tr>
          <td colspan="4">No projet in the database. <a href="{% url 'reboisement_add' %}">Add the first projet</a>.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{num}}">{{num}}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{num}}</a>

        {% endif %}


      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number  }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock %}

 