{% extends 'projet/layout.html' %}
{% block contentreboisement %} 
     <div class="row">
        <div class="col-6">
            <div class="card" ">
                <div class="card-body">
                    <h6 class="card-title" > Titre du reboisement: <span style="color:green">{{ reboisement.layer}}</span> </h6>
                    <h6 class="card-title" > N° Contrat: <span style="color:green">{{ reboisement.n_marche}}</span> </h6>
                    
                     <h6 class="card-title"> Commune:  <span style="color:green"> {{ reboisement.commune }} </span></h6>
                    <h6 class="card-title">Programme:<span style="color:green"> {{ reboisement.kml_folder }}</span> </h6>
                    <h6 class="card-title"> cantons : <span style="color:green"> {{ reboisement.cantons }} </span></h6>
                    <h6 class="card-title"> volume prévu :<span style="color:green">{{ reboisement.volume_pre }}</span></h6>
                    <h6 class="card-title"> Volume réalisé  :<span style="color:red">{{ sommePhysique.somme }} Ha</span></h6>
                    <h6 class="card-title"> Montant prévu :<span style="color:green">{{ reboisement.montant_ma }}Da</span></h6>
                    <h6 class="card-title"> Montant consommé :<span style="color:red">  {{ sommeFinance.somme }} Da </span></h6>

                        <a href="{% url 'reboisement_add'  %}" class="btn btn-success">Add</a>
<!--                         <a href="{% url 'reboisement_delete' reboisement.pk %}" class="btn btn-success">delete </a>
 -->                        <a href= "{% url 'reboisement_change' reboisement.pk %}" class="btn btn-success">Update</a>
<!--                        <a href= "{% url 'reboisement_change' reboisement.pk %}" class="btn btn-danger">IOV</a>
 -->                       <a href= "{% url 'reboisement_changelist' %}" class="btn btn-danger">Reboisements</a>
                       <a href= "{% url 'cartoreboisement' %}" class="btn btn-danger">Carto </a>
                </div>
              </div>
      </div>

           <div class="col-6 ">

  <!-- fin de la partie de fiche de reboisement -->
      <!-- Tab links -->
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'SituationPhysique')">Physique</button>
  <button class="tablinks" onclick="openCity(event, 'SituationFinanciere')">financier</button>
 </div>

<!-- Tab content -->
<div id="SituationPhysique" class="tabcontent">
           <!-- <a class="btn btn-warning" data-toggle="collapse" href="#collapseExampleres" role="button" aria-expanded="false" aria-controls="collapseExample">
            <span> Formulaire situation physique </span> </a>   -->
              
          

             <!-- <div   id="collapseExampleres" class="collapse"> --><!--une   ligne qui occupe la largeur de la page-->
            <form action ="{% url 'add_reboisement_physique' reboisement.id %}" method ="post">
              {% csrf_token %}
              {{ reboisement_physiqueForm.as_p }}
              <input type="submit" class="btn btn-success" value="Ajouter">
            </form>
             
             
  </div> 
 
<div id="SituationFinanciere" class="tabcontent">
 
       
     <!--  <a class="btn btn-warning" data-toggle="collapse" href="#collapseExampleresfinance" role="button" aria-expanded="false" aria-controls="collapseExampleresfinance">
        <span > Formulaire situation financière </span> </a>   -->
          
      

         <!-- <div   id="collapseExampleresfinance" class="collapse"> --><!--une   ligne qui occupe la largeur de la page-->
        <form action ="{% url 'add_reboisement_financier' reboisement.id %}" method ="post">
          {% csrf_token %}
          {{ reboisement_financeForm.as_p }}
          <input type="submit" class="btn btn-success" value="Ajouter">
        </form>
         
         
  </div>

</div>
  <!-- partie des situation physique -->
  
 

 <hr><hr><hr><hr>
 <div class='row container-fluid'>
 <div class="col-6" >
 <table class ="table striped">
        <thead>
          <tr>
            <th>N° </th><th>realisation_physique</th><th>date</th><th>Supprimer</th>
          </tr>
        </thead>
        <tbody>
         
            {% for physique in reboisement.reboisementphysique_set.all %}
             <tr>
              <td>{{ physique.n }}</td>
              <td>{{ physique.realisation_physique}}</td>
              <td>{{ physique.date}}</td>
              <td><a href= "{% url 'reboisementphysique_delete' physique.id  %}">Supprimer</a></td>
            
          </tr>
            {% endfor %}
        </tbody>
        <tfoot>
        <tr>
        
          <h7 class=""> Total des réalisations physique
           <span style="color: red ">{{ sommePhysique.somme }} Ha </span>   </h7>  
           </tr> 
            
        </tfoot>
      </table>
 </div>

 <div class ="col-6">
 <table class ="table striped">
        <thead>
          <tr>
            <th>N° Situation</th><th>paiement</th><th>date</th>
          </tr>
        </thead>
        <tbody>
         
            {% for finance in reboisement.reboisementfinancier_set.all %}
             <tr>
              <td>{{ finance.n }}</td>
              <td>{{ finance.paiement}}</td>
              <td id ="id_date1">{{ finance.date}}</td>
            
          </tr>
            {% endfor %}
        </tbody>
        <tfoot>
          <tr>
          
            <h7 class=""> Total des paiements est de
           <span style="color: red ">{{ sommeFinance.somme }} Da </span>   </h7> 
          
             
           </tr> 
          
        </tfoot>
      </table>
</div>
</div>
 

 
<style type="text/css">
  
  /* Style the tab */ 
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content   */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover   */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class   */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content   */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
</style>

 </div>
  <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>

  var dateEl = document.getElementById('id_date');
  var dateElFinance = document.getElementById('id_datefinance');

 
 
  M.Datepicker.init(dateEl,{
    format:'yyyy-mm-dd',
    defaultDate:new Date(),
    setDefaultDate: true,
    autoClose: true
  })
  M.Datepicker.init(dateElFinance,{
    format:'yyyy-mm-dd',
    defaultDate:new Date(),
    setDefaultDate: true,
    autoClose: true
  })
  
  function openCity(evt, cityName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
{% endblock %}