{% extends 'projet/layout.html' %}

{% block content %}
  <div class="container">
 <font style="color:brown" > <strong>Déclinaison de l'indicateur National par quinquenats :</strong> </font><br> <font style="color:blue"><strong>{{resultats}}</strong> </font>
    <!-- <div class="row">
               {% if indicateur_quequenat.count %}
              {% for indicateur_qu   in indicateur_quequenat.all %}
                 <div class="col-4">
 
            <div class="card"  style="height: 15rem;" >
              <div class="card-body">
                <h5 class="card-title" style="height: 2rem;">Indicateur attendu {{indicateur_qu.id}}:</h5>
                <p class="card-text" style="height: 5rem;">{{indicateur_qu.name}} </p>
                   
                 <a href="" class="btn btn-success">Détails</a>
              </div>
            </div>
         
        </div>
              {% endfor %}
              {% endif %}
  
 </div> -->
 </div>

<table id="dtBasicExample" class="table table-bordered table-striped table-hover table-sm table-responsive small">
    <thead>
      <tr>
      <th  class="th-sm">Nom de l'indicateur</th>
        <th  class="th-sm">Cible 2035</th>
        <th  class="th-sm">Unité</th>
        <th  class="th-sm">Qinquenal 1</th>
        <th  class="th-sm">Qinquenal 2</th>
        <th  class="th-sm">Qinquenal 3</th>
        <th  class="th-sm">Qinquenal 4</th> 

      </tr>
    </thead>
    <tbody>
         {% for indicateur_qu   in indicateur_quequenat.all %}
        <tr>
        <td> {{indicateur_qu.name}}</td>
        <td> {{indicateur_qu.ciblle_2035}} </td>
         <td> {{indicateur_qu.unite}} </td>
          <td> {{indicateur_qu.quinquennat1}}</td>
          <td>{{indicateur_qu.quinquennat2}}</td>
          <td>{{indicateur_qu.quinquennat2}}</td>
           <td>{{indicateur_qu.quinquennat2}}</td>
           
          <td>
           <div class="btn-group" role="group" >
             <a href="" class="btn btn-success "   > <small>Détails</small></a> 
            
            <a href=""    class="btn btn-danger"  ><small>Supprimer</small></a> 
            
             <a href="" class="btn btn-warning"   ><small>Actualisé</small></a> 
</div>
           
          </td>

           
          </tr>
       
      {% empty %}
        <tr>
          <td colspan="4">pas d'indicateur pour ce résultat. <a href="{% url 'projet_add' %}">Ajouter votre premier indicateur</a>.</td>
        </tr>
      {% endfor %}
                    

    </tbody>
  </table>
{% endblock %}