{% extends 'projet/layout.html' %}

{% block content %}
  
 <div class="container">
 <font style="color:brown" > <strong>Orientationstrategique :</strong> </font><br> <font style="color:blue">{{orientationstrategique}} </font> 
    <div class="row">
               {% if orientationglobales.count %}
              {% for orientationglobale  in orientationglobales.all %}
                 <div class="col-4">
 
            <div class="card"  style="height: 15rem;" >
              <div class="card-body">
                <h5 class="card-title" style="height: 2rem;">Objectif Global {{orientationglobale.id}}:</h5>
                <p class="card-text" style="height: 7rem;">{{orientationglobale.name}} </p>
                 <a href="{% url 'detail_objectifspecifique' orientationglobale.id %}" class="btn btn-success">Détails</a>
              </div>
            </div>
         
        </div>
              {% endfor %}
              {% endif %}
  
 </div>
 </div>

{% endblock %}