{% extends 'projet/layout.html' %}

{% block content %}
  <div class="container">
 <font style="color:brown" > <strong>Objectifspecifique :</strong> </font><br> <font style="color:blue"><strong>{{objectifspecifique}}</strong> </font>
    <div class="row">
               {% if resultats.count %}
              {% for resultat  in resultats.all %}
                 <div class="col-4">
 
            <div class="card"  style="height: 15rem;" >
              <div class="card-body">
                <h5 class="card-title" style="height: 2rem;">Résultat attendu {{resultat.id}}:</h5>
                <p class="card-text" style="height: 5rem;">{{resultat.name}} </p>
              
                 <a href="{% url 'detail_indicateur_quinquenat' resultat.id %}" class="btn btn-success">Détails</a>
              </div>
            </div>
         
        </div>
              {% endfor %}
              {% endif %}
  
 </div>
 </div>

{% endblock %}