{% extends 'projet/layout.html' %}

{% block odd15 %}
<div class="text-center">
      <h5> Sous-Indicateur : <span style="color: blue; font-size: 18px" >{{ sous_indicateurs.seriesDescription}}</span></h5>
      </div>
        <!-- {{ sous_indicateurs.code.data}} -->

      <div class="table-responsive " >  
      
           
   <table class="table table-dark table-bordered table-striped table-hover  text-center   table-condensed">
            <thead >
              <th> Année </th>
              <th>value </th> 
              <th>unite </th> 
            </thead> 
   {% for sous_indicateur in sous_indicateurs.data %}
            <tbody>
              <tr>
              <td   >{{ sous_indicateur.timePeriodStart}}</td>
              <td    >{{ sous_indicateur.value}}</td>
              <td    >{{ sous_indicateur.attributes.Units}}</td>
              </tr>
            </tbody>
  {% endfor  %}
            <tfoot style="color:yellow; font:bold">
              <tr>
                <td colspan="3">
                <!-- {{ sous_indicateurs.seriesDescription}} -->
                Source : {{ sous_indicateurs.source }} - {{ sous_indicateurs.footnotes}}
                </td>
              </tr> 
              <tr>
               <td colspan="3">
               <a href="{% url  'detail_cible' sous_indicateurs.indicateur  %}" class="btn btn-success">retour</a>
               <a href="{% url  'starter'   sous_indicateurs.series   %}" class="btn btn-success">Graph</a>
               <a href="{% url  'sous_indicateur_csv'   sous_indicateurs.series    %}" class="btn btn-success">Télécharger les données</a>
<!-- <form action="">
  
</form> -->
               </td>
              </tr>                     
            </tfoot>
        </table>


 
   </div>
  
  
 
 

 {% endblock %}