<!DOCTYPE html>
<html>
{% load static %}
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_509cd593366048dd99bde561ea456a82 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
   <link rel="stylesheet" href="{% static 'projet/css/leaflet-sidebar.min.css' %}">
    <script src="{% static 'projet/js/leaflet-sidebar.min.js' %}"></script>
      
</head>
<body>    
    {% block content %}
{% endblock %}
            <div class="folium-map" id="map_509cd593366048dd99bde561ea456a82" ></div>
        
</body>
<script>    
    
            var map_509cd593366048dd99bde561ea456a82 = L.map(
                "map_509cd593366048dd99bde561ea456a82",
                {
                    center: [36.69789, 5.90438],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_7e69caada6904daebaf8ab621a9ab904 = L.tileLayer(
                "https://earthengine.googleapis.com/map/9ac819841956b184f5adc242f282464c/{z}/{x}/{y}?token=adf773a5cab2c5edb68f29dd73650ceb",
                {"attribution": "Map Data \u0026copy; \u003ca href=\"https://earthengine.google.com/\"\u003eGoogle Earth Engine\u003c/a\u003e ", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_509cd593366048dd99bde561ea456a82);
        
    
            var layer_control_f767879ab08943a78ac88e9f2fc1af27 = {
                base_layers : {
                    "test" : tile_layer_7e69caada6904daebaf8ab621a9ab904,
                },
                overlays :  {
                },
            };
            L.control.layers(
                layer_control_f767879ab08943a78ac88e9f2fc1af27.base_layers,
                layer_control_f767879ab08943a78ac88e9f2fc1af27.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_509cd593366048dd99bde561ea456a82);
        
</script>