{% extends 'incendies/layout.html' %}
{% load static %}  
{% block content %}

<style>
 ##########
  .carousel{
    padding-top: 0px;
    height: 200px;
    perspective: 100%;
     background: #000;
  }
  .carousel .carousel-item{
    width: 250px;
  }

  .carousel .carousel-item img{
    width: 100%;
  }
</style>      
    <div class="row">
 
   <div class="carousel ">
    <a href="#one!" class="carousel-item">
          <img src="{% static 'incendies/images/Image1.png' %}" alt="">
    </a>
    <a href="#one!" class="carousel-item">
          <img src="{% static 'incendies/images/Image2.jpg' %}" alt="">
    </a>
     
     <a href="#three!" class="carousel-item">
          <img src="{% static 'incendies/images/Image3.jpg' %}" alt="">
    </a>
    <a href="#four!" class="carousel-item">
          <img src="{% static 'incendies/images/Image4.jpg' %}" alt="">
    </a>
    <a href="#five!" class="carousel-item">
          <img src="{% static 'incendies/images/Image5.jpg' %}" alt="">
    </a>
    <a href="#five!" class="carousel-item">
          <img src="{% static 'incendies/images/Image6.jpg' %}" alt="">
    </a>
    <a href="#five!" class="carousel-item">
          <img src="{% static 'incendies/images/Dispositif_2020.bmp' %}" alt="">
    </a>
  </div>
   </div>

   
 

    <div class="row">
        <div class="col s12 l4">
            <div class="card">
              <div class="card-content">
                <span class="card-title">Tableau de synthèse</span>
                  <div class="card-image">
               <a href="{% url 'synthese' %}"> <img src="{% static 'incendies/images/bilan.jpg' %}" alt=""></a>
              </div>
                  <div class ="card-action"> 
                <a href="{% url 'synthese' %}">Voir les synthèses</a>
                  </div>
              </div>
            </div>
        </div>
        <div class="col s12 l4">
            <div class="card">
              <div class="card-content">
              
                <span class="card-title">Tableau de Bord</span>
                <div class="card-image">
                <a href="{% url 'nombrefoyergraph' %}" ><img src="{% static 'incendies/images/icon_dashbord.jpg' %}" alt=""></a>
              </div>
                  <!-- <p>Statistiques et histogrammes</p> -->
                  <div class ="card-action"> 
                <a href="{% url 'nombrefoyergraph' %}" >Voir le détails</a>
                  </div>
              </div>
            </div>
        </div>
        <div class="col s12 l4">
            <div class="card">
              <div class="card-content">
                <span class="card-title">base de donnée</span>
                <div class="card-image">
                 <a href="{% url 'incendies_index' %}"> <img src="{% static 'incendies/images/details.png' %}" alt=""></a>
              </div>
                  <!-- <p>flash incendies et base de données</p> -->
                  <div class ="card-action"> 
                <a href="{% url 'incendies_index' %}" >Voir listes des incendies</a>
                  </div>
              </div>
            </div>
        </div>   
    </div>

 {% endblock %}
 