{% extends 'incendies/layout.html' %}

{% block content %}


<div class="row">
 <div class = "col s6">
  <table id="dtBasicExample" class="striped">
  <thead> 
      <tr class="row">
         <th >Commune</th>
        <th >Foyer incendies</th>
      </tr>
    </thead>
    <tbody class="content">
      {% for incendie in nombrefoyer %}
      <tr>
  			<td> {{ incendie.name  }} </td>
   			<td>{{ incendie.dcount }}</td>          
      </tr>
      {% empty %}
        <tr>
          <td colspan="4">Pas d'incendie dans la base de données. <a href="{% url 'incendie_create' %}">Ajouter le premier flash incendie</a>.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>

   <div class = "col s6">
  <table id="dtBasicExample" class="striped">
  <thead> 
      <tr class="row">
         <th >Commune</th>
        <th >Superficie incendies</th>
      </tr>
    </thead>
    <tbody class="content">
      {% for incendie in superficie %}
      <tr>
        <td> {{ incendie.name  }} </td>
        <td>{{ incendie.superficie }}</td>          
      </tr>
      {% empty %}
        <tr>
          <td colspan="4">Pas d'incendie dans la base de données. <a href="{% url 'incendie_create' %}">Ajouter le premier flash incendie</a>.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  </div>
  <!-- <div class ="col s6">
  <table id="dtBasicExample" class="striped">
  <thead> 
      <tr class="row">
         <th >Wilaya</th>
        <th > sup ha estimé</th>
      </tr>
    </thead>
    <tbody class="content">
      {% for incendie in supestime %}
      <tr>
        <td> {{ incendie.username  }} </td>
        <td>{{ incendie.superficie_estime }}</td>          
      </tr>
      {% empty %}
        <tr>
          <td colspan="4">Pas d'incendie dans la base de données. <a href="{% url 'incendie_create' %}">Ajouter le premier flash incendie</a>.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div> -->
  </div>
 

    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{num}}">{{num}}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{num}}</a>

        {% endif %}


      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number  }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}

{% endblock %}