{% extends 'incendies/layout.html' %}

{% block content %}
<div class=row>
<h5 class ="center-align">Situation actuelle</h5>
  <div class = "col s12">
 
  <table id="dtBasicExample" class="striped">
  <thead> 
      <tr class="row">
         <th class=" center-align">Situation</th>
        <th class=" center-align">superficie</th>
         <th class=" center-align"> Nbr de Foyer</th>
      </tr>
    </thead>
    <tbody class="content ">
              

      <tr>
        <td class=" center-align">En cours   </td>
        <td class=" center-align"> {{ superficieEncours.superficie_encours}} </td>
        <td class=" center-align"> {{ nombreFoyerEncours.nombre_encours}} </td>                    
      </tr>
      <tr>
        <td class=" center-align">Maitrisé    </td>
        <td class=" center-align">{{   superficieMairise.superficie_maitrise}}  </td>
        <td class=" center-align">{{   nombreFoyerMairise.nombre_maitrise}}  </td>          
      </tr>
      <tr>
        <td class=" center-align">Total    </td>
        <td class=" center-align" style="color:red"><strong>{{superficieTotal.superficie_total}}</strong></td>
        <td class=" center-align" style="color:red"><strong>{{nombreFoyerTotal.nombre_total}}</strong></td>

      </tr>       
     </tbody>
  </table>
  </div>
  </div>




 <div class=row>
<h5 class ="center-align"> Evolution par mois</h5>
  <div class = "col s12">
 
  <table id="dtBasicExample"   class=" center-align highlight" >
  <thead> 
      <tr class="row">
         <th class=" center-align" >Mois</th>
        <th  class=" center-align">Superficie incendiée  </th>
        <th  class=" center-align">Nombre incendiée  </th>

      </tr>
    </thead>
    <tbody class="content ">

      <tr>
        <td class=" center-align">juin  </td>
        <td class=" center-align"> {{ sup_juin.superficie_total}} </td>  
         <td class=" center-align"> {{ nbr_juin.nombre}} </td>        
      </tr>
      <tr>
        <td class=" center-align">juil  </td>
        <td class=" center-align"> {{ sup_juil.superficie_total}} </td>
         <td class=" center-align"> {{ nbr_juil.nombre}} </td>          
      </tr>
      <tr>
        <td class=" center-align">août  </td>
        <td class=" center-align"> {{ sup_aout.superficie_total}} </td>
          <td class=" center-align"> {{ nbr_aout.nombre}} </td>           
      </tr>
      <tr>
        <td class=" center-align">sept  </td>
        <td class=" center-align"> {{sup_sept.superficie_total}} </td>
        <td class=" center-align"> {{nbr_sept.nombre}} </td>          
      </tr>
      <tr>
        <td class=" center-align">Total général   </td>
                 <td class=" center-align" style="color:red"><strong>{{superficieTotal.superficie_total}}</strong></td>
            <td class=" center-align" style="color:red"><strong>{{nombreFoyerTotal.nombre_total}}</strong></td>
      </tr>             
     </tbody>
  </table>
  </div> 
  </div>

  <!--   -->
<div class=row>
<h5 class ="center-align"> Incendies par formation</h5>
    <div class = "col s6">
  <table id="dtBasicExample" class="center-align highlight">
  <thead> 
      <tr class="row">
         <th class=" center-align">Formation</th>
          <th class=" center-align" >Superficie incendies</th>
       </tr>
    </thead>
    <tbody class="content">
      {% for espece in superficieformation %}
      <tr>
        <td class=" center-align"> {{ espece.name  }} </td>
        <td class=" center-align">{{ espece.superficie }}</td>
 
      </tr>
      {% empty %}
        <tr>
          <td colspan="4">Pas de superficie incendiée par formation forestère </td>  
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>

    <div class = "col s4">
    <table class="center-align highlight">
     <thead> 
      <tr class="row">
           <th class=" center-align" >Formation</th>
           <th class=" center-align" >% incendies</th>
 
      </tr>
    </thead>
    <tbody class="content">
    {% if dict_of_percentages %}
    {%  for key, values  in dict_of_percentages.items %}

      <tr>
         <td class=" center-align">{{key}}</td> <td class=" center-align" style="color:red">{{values|floatformat:2 }} %</td>
      
 </tr>
 {% endfor %}
 {% else %}
         <tr>
          <td colspan="4">Pas de superficie incendiée </td>  
        </tr>
      {% endif %}
</tbody>
 
  </table>
  </div>
  </div>
  
 
 <div class="row">
    <h5 class ="center-align">Incendies par espece</h5>

    <div class = "col s8 offset-s2">
    <table class="center-align highlight">
     <thead> 
      <tr class="row">
           <th >Espece</th>
           <th >% incendies</th>
 
      </tr>
    </thead>
    <tbody class="content">
    {%  for key, values  in dict_of_percentages_espece.items %}

      <tr>
         <td>{{key}}</td> <td style="color:red">{{values|floatformat:2 }} %</td>
      
 </tr>
 
</tbody>
 {% endfor %}
  </table>
 </div> 
  </div>
 <h5 class ="center-align">
  {% if request.user.username != 'DGF' %}
          Détail par Communes

         {% else %}
         Détails par  Wilaya
         {% endif %}
         </h5>
<div class="row">
 <div class = "col s12">
  <table id="dtBasicExample" class=" center-align highlight"  >
  <thead> 
      <tr class="row">
         <th class=" center-align">
         {% if request.user.username != 'DGF' %}
          Commune
         {% else %}
         Wilaya
         {% endif %}
         </th>
        <th class=" center-align">Foyer incendies</th>
<th class=" center-align">Superficie incendies</th>
      </tr>
    </thead>
    <tbody class="content">
      {% for incendie in nombrefoyer %}
      <tr>
        <td class=" center-align"> {{ incendie.name  }} </td>
        <td class=" center-align">{{ incendie.dcount }}</td>
        <td class=" center-align">{{ incendie.superficie }}</td>  

      </tr>
      {% empty %}
        <tr>
          <td colspan="4">Pas d'incendie dans la base de données. <a href="{% url 'incendie_create' %}">Ajouter le premier flash incendie</a>.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>

 </div>

    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{num}}">{{num}}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{num}}</a>

        {% endif %}


      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number  }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}

{% endblock %}